.o-nama-container {
    .pt-50();
    height: 100vh;
    h1 {
        color: #4b4b4b;
        font-size: 48px;
        margin-bottom: 50px;
    }
    p {
        color: #4b4b4b;
        font-size: 14px;
    }
    a {
        display: inline-block;
        color: #04d7da;
    }
}

@media (max-width: 767px) {
    .o-nama-container {
        .pb-50();
        height: auto;
        h1 {
            font-size: 180%;
        }
    }
}

@media (min-width: 768px) and (max-width: 1240px) {
    .o-nama-container {
        height: auto;
        .pb-50();
    }
}
