.woocommerce-MyAccount-content {
    .detalji-adresa {
        .adresa-za-isporuku,
        .podaci-za-naplatu {
            float: left;
            p {
                padding: 0;
                font-size: 16px;
                color: #4b4b4b;
            }
            .telefon-email {
                margin-top: 35px;
                margin-bottom: 35px;
            }
            a {
                color: #fff;
                font-size: 16px;
                padding: 10px 40px;
                background: linear-gradient(to bottom, #9cf20b, #5bca06);
                border-radius: 10px;
                text-align: center;
                i {
                    margin-right: 10px;
                }
            }
        }
    }
}

@media (max-width: 767px) {
    .woocommerce-MyAccount-content {
        .detalji-adresa {
            .adresa-za-isporuku {
                margin-bottom: 40px;
            }
            .adresa-za-isporuku,
            .podaci-za-naplatu {
                float: none;
                width: 100%;
            }
        }
    }
}
