.korpa-container {
    padding-top: 20px;
    padding-bottom: 60px;
    h1 {
        font-size: 48px;
        color: #4b4b4b;
        margin-bottom: 50px;
        font-weight: normal;
    }
    dl.variation {
      display: none;
    }
    .giftwrapper_products.wcgwp_slideout.non_modal.wcgwp_form {
      display: block !important;
    }
    .giftwrap_details {
      display: none !important;
    }
    .wc-giftwrap.giftwrap-before-cart {
      &::before,
      &::after {
        clear: both;
        display: table;
        content: " ";
      }
    }
    div.giftwrap_header_wrapper.gift-wrapper-info {
      display: none !important;
      a {
        background: linear-gradient(to bottom,#f9d706,#f3b004)!important;
        background-color: rgba(0,0,0,0)!important;
        color: #fff!important;
        font-size: 12px!important;
        border-radius: 10px!important;
        opacity: 1!important;
        padding-top: 10px!important;
        padding-bottom: 10px!important;
        padding-right: 23px!important;
        display: table;
        padding-left: 23px!important;
      }
    }
    .empty-cart {
        margin-bottom: 40px;
    }
    .cart-narudzbine {
        width: calc((100% / 6) * 4);
        float: left;
        .cart-collaterals {
            [data-title="Subtotal"] {
                text-align: center;
            }
            [data-title="Total"] {
                text-align: center;
            }
            .cart_totals {
                h2 {
                    margin-bottom: 20px;
                }
                th {
                    padding-left: 0;
                    font-size: 14px;
                    color: #4b4b4b;
                    font-weight: normal;
                    border: none;
                    text-align: right;
                }
                td {
                    border: none;
                    font-family: 'Merriweather';
                }
                .checkout-button.button.alt.wc-forward {
                    background: linear-gradient(to bottom, #9cf20b, #5bca06) !important;
                    border-radius: 10px !important;
                    font-size: 16px !important;
                    font-weight: normal;
                    display: table !important;
                    float: right !important;
                    .icon-credit-card-add {
                        margin-right: 10px !important;
                    }
                }
            }
            tr.order-total {
                th {
                    vertical-align: bottom !important;
                }
                td {
                    text-align: right;
                    font-size: 18px;
                    color: #4b4b4b;
                    font-weight: bold;
                    padding-bottom: 0;
                    font-weight: normal;
                }
            }
            tr.shipping {
                td {
                    font-size: 0;
                    text-align: right;
                    padding-bottom: 0;
                    vertical-align: bottom !important;
                    line-height: 2;
                    .woocommerce-Price-amount.amount {
                        display: block;
                        font-size: 18px;
                        color: #4b4b4b;
                        font-weight: normal;
                    }
                    span {
                        &:nth-of-type(2) {
                            font-size: 10px;
                            color: #949494;
                        }
                    }
                }
            }
            tr.total {
                th {
                    vertical-align: bottom !important;
                    padding-top: 30px;
                }
                td {
                    text-align: right;
                    vertical-align: bottom !important;
                    padding-bottom: 0;
                    padding-top: 30px;
                    p {
                        font-weight: normal;
                        font-size: 24px;
                        color: #f2aa04;;
                    }
                }
            }
        }
    }
    table.shop_table {
        border: none;
        margin-bottom: 0;
        th {
            font-size: 18px;
            color: #4b4b4b;
            padding-bottom: 0 !important;
            font-weight: normal;
            &.product-quantity,
            &.product-subtotal {
                text-align: right;
            }
            &.product-price {
                text-align: right;
            }
        }
        tr {
            &:first-of-type {
                th {
                    border-bottom: 1px solid #cecece;
                }
            }
            &:last-of-type {
                td {
                    border-top: 1px solid #cecece;
                }
            }
            td {
                border: none;
                .pt-10();
                .pb-10();
                &.actions {
                    text-align: left;
                }
                &.product-price {
                    text-align: right;
                    .woocommerce-Price-amount.amount {
                        color: #4b4b4b;
                    }
                }
                &.product-quantity {
                    text-align: right;
                }
                &.product-thumbnail {
                    display: flex;
                    &::before {
                        content: '';
                    }
                    img {
                        margin-right: 5px;
                        height: 70px;
                        width: 45px;;
                    }
                    a {
                        font-weight: normal;
                        color: #4b4b4b;
                    }
                }
                &.product-subtotal {
                    text-align: right;
                    .woocommerce-Price-amount.amount {
                        color: #4b4b4b;
                    }
                }
            }
            input {
                height: 35px;
                width: 75px !important;
                background-color: #ebebeb;
                border: none;
            }
            .cart-author {
                .cart-author-name {
                    font-size: 10px;
                    color: #4b4b4b;
                }
                a {
                    color: #4b4b4b;
                    font-size: 16px;
                }
            }
        }
    }
    .button {
        background: linear-gradient(to bottom, #f9d706, #f3b004) !important;
        background-color: rgba(0, 0, 0, 0) !important;
        color: #fff !important;
        font-size: 12px !important;
        border-radius: 10px !important;
        opacity: 1 !important;
        padding-top: 10px !important;
        padding-bottom: 10px !important;
        padding-right: 23px !important;
        font-weight: normal;
        padding-left: 23px !important;
        float: left;
        font-weight: normal;
        font-family:'Montserrat';
        line-height:normal;
        i {
            margin-right: 15px;
            font-size: 16px;
        }
    }
    .informacije-o-dostavi {
        float: left;
        width: calc((100% / 6) * 2);
        padding-top: 10px;
        padding-left: 20px;
        h3 {
            font-size: 18px;
            color: #4b4b4b;
            padding-bottom: 0 !important;
            margin-bottom: 40px;
            &:nth-of-type(2) {
                margin-top: 24px;
            }
        }
        p {
            font-size: 14px;
            &:first-of-type {
                margin-bottom: 15px;
            }
            &.opis-isporuke {
                a {
                    display: inline-block;
                    color: #04d7da;
                }
            }
            &.tezina-narudzbine {
                margin-bottom: 40px;
            }
            &.dodatne-informacije-paragraph {
                margin-bottom: 15px;
            }
            &.number {
                margin-bottom: 15px;
                &::before {
                    content: "\e907";
                    font-family: icomoon;
                    color: #52c306;
                    margin-right: 15px;
                }
            }
            &.email {
                margin-top: 25px;
                &::before {
                    content: "\e904";
                    font-family: icomoon;
                    color: #52c306;
                    margin-right: 15px;
                }
                a {
                    color: #04d7da;
                    display: inline-block;
                }
            }
        }
    }
}


@media (max-width: 767px) {
    .korpa-container {
        h1 {
            font-size: 180%;
            text-align: center;
            margin-bottom: 30px;
        }
        .cart-narudzbine {
            float: none;
            width: 100%;
            .cart-collaterals {
                .cart_totals {
                    td {
                        padding-left: 0;
                    }
                    .checkout-button.button.alt.wc-forward {
                        float: none !important;
                    }
                }
            }
        }
        .woocommerce-cart-form__cart-item.cart_item {
            margin-bottom: 9 !important;
        }
        table.shop_table {
            margin-left: 0;
        }
        .informacije-o-dostavi {
            float: none;
            width: 100%;
        }
        .cart_totals {
            th {
                display: block !important;
            }
            td
                &::before {
                    content: "";
                }
                tr.order-total {
                    margin-bottom: 30px;
                    td {
                        display: table !important;
                        &::before {
                            content: " ";
                        }
                    }
                }
                tr.total {
                    margin-bottom: 30px;
                        th {
                            padding-top: 0 !important;
                        }
                        td {
                            padding-top: 0 !important;
                            &::before {
                                content: "";
                        }
                        p {
                            display: table !important;
                        }
                    }
                }
            tr.shipping {
                margin-bottom: 30px;
                td {
                    display: table !important;
                }
            }
        }
        td {
            &.product-remove {
                width: 50%;
                float: right;
                a {
                    float: right;
                    font-weight: normal;
                    font-size: 40px;
                    width: auto;
                    height: auto;
                    margin-top: 15px;
                    color: #ff1a1a !important;
                }
            }
            &.product-thumbnail {
                width: 50%;
                float: left;
                display: table;
                img {
                    width: 45px;
                    height: 70px;
                }
                a {
                    display: table-cell;
                }
                .cart-author {
                    display: table-cell;
                    vertical-align: middle;
                }
            }
            &.product-price {
                float: left;
                width: 50%;
                &::before {
                    margin-bottom: 25px;
                }
            }
            &.product-quantity {
                float: right !important;
                &::before {
                    margin-right: 0 !important;
                }
                .quantity {
                    margin-top: 20px;
                }
            }
        }
        tr {
            display: none !important;
        }
        tr.woocommerce-cart-form__cart-item.cart_item {
            border-top: none !important;
            border-bottom: 1px solid #ccc;
            display: block !important;
        }
        .button {
            float: right !important;
            margin-top: 20px !important;
            margin-bottom: 45px !important;
        }
        .cart-collaterals {
            .shop_table.shop_table_responsive {
                tr {
                    border: none !important;
                    display: block !important;
                    &.order-total {
                        th {
                            float: left;
                            width: 50%;
                            text-align: right;
                            padding-top: 15px;
                        }
                        td {
                            float: right;
                            text-align: right;
                            width: 50%;
                            font-weight: bold;
                        }
                    }
                    &.shipping {
                        padding-bottom: 100px;
                        th {
                            float: left;
                            width: 50%;
                            text-align: right;
                            padding-top: 25px;
                        }
                        td {
                            float: right;
                            font-weight: bold !important;
                            text-align: right;
                            width: 50%;
                            background-color: transparent !important;
                            .woocommerce-Price-amount.amount {
                                font-weight: bold !important;
                            }
                        }
                    }
                    &.total {
                        th {
                            float: left;
                            width: 50%;
                            text-align: right;
                            padding-top: 10px !important;
                        }
                        td {
                            float: right;
                            text-align: right !important;
                            width: 50%;
                            p {
                                float: right;
                                font-weight: bold !important;
                            }
                        }
                    }
                }
                td {
                    padding-right: 0 !important
                }
            }
            .checkout-button.button.alt.wc-forward {
                width: 100%;
            }
        }
        .informacije-o-dostavi {
            padding: 0 !important;
        }
    }
}


@media (min-width: 768px) and (max-width: 1240px) {
    .korpa-container {
        h1 {
            text-align: center;
        }
        .cart-narudzbine {
            float: none;
            width: 100%;
            .woocommerce-cart-form__cart-item.cart_item {
                margin-bottom: 60px;
            }
        }
        .informacije-o-dostavi {
            float: none;
            width: 100%;
        }
    }
}
