.checkout-container {
    margin-top: 50px;
    margin-bottom: 50px;
    .giftwrap_header_wrapper.gift-wrapper-info,
    .giftwrap_details {
      display: none;
    }
    .giftwrapper_products.wcgwp_slideout.wcgwp_form {
      display: block !important;
    }
    form.giftwrapper_products.wcgwp_slideout.wcgwp_form {
      button {
        background: linear-gradient(to bottom,#f9d706,#f3b004)!important;
        background-color: rgba(0,0,0,0)!important;
        color: #fff!important;
        font-size: 12px!important;
        border-radius: 10px!important;
        opacity: 1!important;
        padding-top: 10px!important;
        padding-bottom: 10px!important;
        padding-right: 23px!important;
        display: table;
        padding-left: 23px!important;
      }
    }
    h1 {
        color: #4b4b4b;
        font-size: 48px;
        margin-bottom: 50px;
        padding-left: 20px;
        padding-right: 20px;
    }
    .woocommerce-info {
        padding-top: 0;
        padding-bottom: 0;
        .pr-20();
        .pl-20();
        border: none;
        background-color: transparent;
        font-size: 18px;
        color: #4b4b4b;
        &::before {
            content: " ";
        }
        a {
            display: inline-block;
            font-size: 18px;
            color: #52c306;
            margin-left: 30px;
        }
    }
    .checkout-login {
        padding-left: 15px;
        padding-right: 15px;
        .woocommerce-form.woocommerce-form-login.login {
            background-color: #f2aa04;
            border: none;
            border-radius: 0;
            p,label {
                color: #fff;
                font-size: 14px;
            }
            .form-row.form-row-first,
            .form-row.form-row-last {
                margin-top: 40px;
                width: auto !important;
                margin-bottom: 25px;
                float: left;
                input {
                    width: 320px;
                    height: 40px;
                    border-radius: 0;
                    border: none;
                }
                .required {
                    color: #fff;
                }
            }
            .form-row.form-row-first {
                margin-right: 40px;
            }
            .form-row {
                margin-bottom: 25px;
                .button {
                    background: linear-gradient(to bottom, #9cf20b, #5bca06);
                    color: #fff;
                    border-radius: 10px;
                    height: 35px;
                    padding-right: 20px;
                    font-size: 14px;
                    font-weight: normal;
                    padding-left: 20px;
                    margin-right: 30px;
                    &::before {
                        content: "\e909";
                        font-family: 'icomoon';
                        margin-right: 20px;
                        font-size: 14px;
                    }
                }
                .woocommerce-form__label.woocommerce-form__label-for-checkbox.inline {
                    #rememberme {
                        vertical-align: middle;
                    }
                    span {
                        font-size: 14px;
                    }
                }
            }
            .lost_password {
                a {
                    color: #fff;
                    font-size: 14px;
                }
            }
        }
    }
    .checkout-left-block {
        margin-bottom: 39px;
        .woocommerce-billing-fields {
            p {
                float: left;
                font-size: 14px;
                color: #4b4b4b;
                margin-bottom: 10px;
                padding-right: 20px;
                padding-left: 20px;
                .required {
                    color: #4b4b4b;
                }
                &.form-row-wide {
                    clear: none !important;
                }
                input {
                    height: 35px;
                    background-color: #ebebeb;
                    border: none;
                    padding: 10px;
                }
                &,
                &#billing_first_name,
                &#billing_last_name,
                &#billing_company_field {
                    width: calc(100% / 3);
                    float: left;
                }
                &#billing_address_1_field,
                &#billing_address_2_field,
                &#billing_city_field,
                &#billing_postcode_field,
                &#billing_phone_field,
                &#billing_email_field{
                    width: 50%;
                    float: left;
                }
                &#billing_company_field,
                &#billing_address_2_field {
                    .optional {
                        display: none;
                    }
                }
                &#billing_state_field {
                    display: none;
                }
            }
        }
    }
    .shop_table.woocommerce-checkout-review-order-table {
        display: none;
    }
    #order_review {
        padding-left: 20px;
        padding-right: 20px;
    }
    table.shop_table.shop_table_responsive.cart.woocommerce-cart-form__contents {
        border: none;
        width: 50%;
        border-collapse: collapse;
        * {
            padding: 0;
        }
        thead {
            border-bottom: 1px solid #ccc;
            th {
                color: #f2aa04;
                color: 18px;
                padding-top: 10px;
                padding-bottom: 10px;
                font-weight: normal;
                &.product-thumbnail {
                    text-align: left;
                }
                &.product-subtotal {
                    text-align: right;
                }
            }
            tr {
            }
        }
        th {
            border: none;
        }
        td {
            border: none;
            .cart-author {
                p {
                    font-size: 10px;
                    color: #4b4b4b;
                }
                a {
                    font-size: 16px;
                    color: #4b4b4b;
                    font-family: 'Merriweather';
                }
            }
            .product-price {
                span {
                    font-size: 16px;
                }
            }
        }
    }
    tbody {
        tr {
            &.woocommerce-cart-form__cart-item.cart_item {
                td {
                    padding-top: 10px !important;
                    padding-bottom: 10px !important;
                    &.product-subtotal {
                        text-align: right;
                    }
                }
            }
            &.order-total,
            &.shipping,
            &.total {
                border-top: 1px solid #ccc;
                th {
                    color: #4b4b4b;
                    font-size: 14px;
                    font-weight: normal;
                    text-align: right;
                }
                td {
                    text-align: right;
                    font-family: 'Merriweather';
                    font-weight: normal;
                }
            }
            &.order-total,
            &.shipping {
                th {
                    padding-top: 30px;
                }
                td {
                    font-size: 18px;
                    color: #4b4b4b;
                    padding-top: 30px;
                }
            }
            &.order-total {
                .woocommerce-Price-amount.amount {
                    display: block;
                }
                span {
                    &:nth-of-type(2) {
                        display: block;
                        font-size: 10px;
                        color: #949494;
                        font-weight: 400;
                    }
                }
            }
            &.total {
                th {
                    padding-top: 30px !important;
                }
                td {
                    padding-top: 30px !important;
                    span {
                        font-weight: normal;
                    }
                    p {
                        font-size: 24px;
                        color: #f2aa04;
                    }
                }
            }
            &.shipping {
                border: none;
                td {
                    padding-top: 20px;
                    span {
                        display: block;
                        font-size: 10px;
                        color: #949494;
                        font-weight: normal;
                    }
                }
            }
        }
    }
    #payment {
        width: 50%;
        background-color: #f2aa04;
        border-radius: 0;
        .wc_payment_method {
          margin-bottom: 20px !important;
          &:last-of-type {
            margin-bottom: 0 !important;
          }
        }
        .wc_payment_methods.payment_methods.methods {
            border-bottom: 0;
            li {
                line-height: 1;
            }
        }
        label {
            font-size: 24px;
            color: #fff;
        }
        .payment_box.payment_method_cod {
            // padding: 0;
            // margin: 0;
            // background-color: transparent;
            &::before {
                content: " ";
            }
            p {
                //color: #fff;
                font-size: 14px;
            }
        }
        .form-row.place-order {
            background-color: #fff;
            padding-right: 0;
            padding-top: 30px;
            padding-bottom: 30px;
            #place_order {
                background: linear-gradient(to bottom, #9cf20b, #5bca06);
                border-radius: 10px;
                padding-bottom: 15px;
                padding-top: 15px;
                padding-left: 35px;
                padding-right: 35px;
                font-size: 16px;
                font-weight: normal;
                &::before {
                    font-family: 'icomoon';
                    margin-right: 20px;
                    content: "\e903";
                }
            }
            .form-row.terms.wc-terms-and-conditions {
                float: none;
                text-align: right;
                .woocommerce-form__input-checkbox {
                    display: inline-block;
                }
                span {
                    font-size: 14px;
                    display: inline-block;
                    color: #4b4b4b;
                    a {
                        color: #59c906;
                        display: inline-block;
                    }
                }
            }
        }
    }
    .woocommerce-checkout #payment div.payment_box {
        //font-size: 0;
    }
    .checkout-right-block {
        .woocommerce-additional-fields__field-wrapper {
            .pr-20();
            .pl-20();
        }
        .woocommerce-shipping-fields {
            p {
                font-size: 14px;
            }
        }
        h3 {
            font-size: 14px;
            padding-top: 10px;
            color: #4b4b4b;
        }
        #order_comments {
            width: 100%;
            border: none;
            resize: none;
            background-color: #ebebeb;
            height: 115px;
            margin-bottom: 50px;
        }
        #ship-to-different-address {
            .pl-20();
            .pr-20();
        }
        .woocommerce-form__label.woocommerce-form__label-for-checkbox.checkbox {
            #ship-to-different-address-checkbox {
                margin-bottom: 40px;
                margin-right: 20px;
                border: none;
                outline: none;
                vertical-align: top;
                &:hover {
                    transform: scale(1);
                }
            }
            span {
                color: #4b4b4b;
                font-size: 14px;
            }
        }
        .shipping_address {
            input {
                height: 35px;
                background-color: #ebebeb;
                border: none;
                padding: 10px;
            }
            p {
                margin-bottom: 30px;
                .pl-20();
                .pr-20();
                label {
                    .required {
                        color: #4b4b4b;
                    }
                }
                &,
                &#shipping_first_name_field,
                &#shipping_last_name_field,
                &#shipping_company_field {
                    width: calc(100% / 3);
                    float: left;
                }
                &#shipping_address_1_field,
                &#shipping_address_2_field,
                &#shipping_city_field,
                &#shipping_postcode_field,
                &#shipping_broj_telefona_field,
                &#shipping_e_mail_field,
                &#shipping_email_field {
                    width: 50%;
                    float: left;
                }
                &#shipping_state_field {
                    display: none;
                }
                &.form-row-wide {
                    clear: none !important;
                }
                &#shipping_company_field,
                &#shipping_address_2_field  {
                    .optional {
                        display: none;
                    }
                }
            }
        }
    }
    .g-recaptcha::after,
    .g-recaptcha::before {
        content: " ";
        clear: both;
        display: table;
    }
    .g-recaptcha > div {
        float: right;
        margin-bottom: 15px;
    }
}

@media (max-width: 767px) {
    #ship-to-different-address {
        padding: 0;
    }
    .checkout-container {
        #order_review {
            padding: 0;
            td {
                padding-left: 0 !important;
                padding-right: 0 !important;
            }
        }
        h1 {
            font-size: 180%;
            padding: 0;
        }
        .woocommerce-info {
            font-size: 100%;
            padding: 0;
            a {
                font-size: 100%;
            }
        }
        .checkout-login {
            .woocommerce-form.woocommerce-form-login.login {
                .form-row.form-row-first,
                .form-row.form-row-last {
                    float: none;
                    input {
                        max-width: 100%;
                    }
                }
                .form-row.form-row-first {
                    margin-right: 0;
                }
            }
            .form-row {
                .button {
                    display: block;
                    margin-bottom: 10px;
                }
            }
        }
        .checkout-left-block {
            .woocommerce-billing-fields {
                p {
                    width: 100%;
                    float: none;
                    padding: 0;
                    &,
                    &#billing_first_name,
                    &#billing_last_name,
                    &#billing_company_field {
                        width: 100%;
                        float: none;
                    }
                    &#billing_address_1_field,
                    &#billing_address_2_field,
                    &#billing_city_field,
                    &#billing_postcode_field,
                    &#billing_phone_field,
                    &#billing_email_field{
                        width: 100%;
                        float: none;
                    }
                }
            }
        }
        .checkout-right-block {
            #ship-to-different-address {
                padding: 0;
            }
            .woocommerce-additional-fields__field-wrapper {
                padding: 0;
            }
            .shipping_address {
                p {
                &,
                &#shipping_first_name_field,
                &#shipping_last_name_field,
                &#shipping_company_field {
                    width: 100%;
                    float: none;
                }
                &#shipping_address_1_field,
                &#shipping_address_2_field,
                &#shipping_city_field,
                &#shipping_postcode_field,
                &#shipping_broj_telefona_field,
                &#shipping_email_field {
                    width: 100%;
                    float: none;
                }
                }
            }
        }
        #payment {
            width: 100%;
            .form-row.terms.wc-terms-and-conditions {
                span {
                    display: inline !important;
                }
            }
        }
        .woocommerce-info {
            a {
                margin-left: 0 !important;
                margin-top: 5px !important;
            }
        }
    }
    table.shop_table.shop_table_responsive.cart.woocommerce-cart-form__contents {
        width: 100% !important;
        .product-thumbnail {
            display: block;
            &::before {
                content: " ";
            }
            .cart-author {
                text-align: left;
                a {
                    font-size: 14px !important;
                }
            }
        }
        td {
            &::before {
                font-weight: normal;
            }
        }
        tr {
            padding-top: 20px !important;
            padding-bottom: 20px !important;
            border-top: 1px solid #cecece;
            &.shipping,
            &.order-total,
            &.total {
                td {
                    &::before {
                        content: " ";
                    }
                }
                th {
                    display: block;
                    float: left;
                    width: 50%;
                    padding-top: 0 !important;
                }
            }
            &::after {
                display: table;
                clear: both;
                content: " ";
            }
            &.shipping {
                border: none !important;
                padding-top: 0 !important;
            }
            &.total {
                border-top: none;
                border-bottom: 1px solid #cecece;
                th {
                    padding-top: 10px !important;
                }
                td {
                    padding-top: 0 !important;
                    padding-bottom: 0 !important;
                }
            }
        }
        td {
            background-color: transparent !important;
        }
        .product-price,
        .product-quantity {
            padding-bottom: 25px !important;
            width: 45%;
            float: left;
            &::before {
                float: none;
                color: #f2aa04;
                margin-right: 10px;
            }
            span {
                font-family: Montserrat;
                font-size: 16px;
                font-weight: lighter;
            }
        }
        .product-price {
            margin-right: 20px;
            text-align: left !important;
            &::before {
                float: left;
                margin-right: 5px;
            }
        }
        .product-subtotal {
            width: 100%;
            float: left;
            padding-bottom: 0 !important;
            &::before {
                color: #f2aa04;
            }
            span {
                font-size: 16px;
            }
        }
    }
}


@media (min-width: 768px) and (max-width: 1240px) {
    .checkout-container {
        .checkout-left-block {
            .woocommerce-billing-fields {
                p {
                    width: 100%;
                    float: none;
                    &,
                    &#billing_first_name,
                    &#billing_last_name,
                    &#billing_company_field {
                        width: 100%;
                        float: none;
                    }
                    &#billing_address_1_field,
                    &#billing_address_2_field,
                    &#billing_city_field,
                    &#billing_postcode_field,
                    &#billing_phone_field,
                    &#billing_email_field{
                        width: 100%;
                        float: none;
                    }
                }
            }
        }
        .checkout-right-block {
            .shipping_address {
                p {&,
                &#shipping_first_name_field,
                &#shipping_last_name_field,
                &#shipping_company_field {
                    width: 100%;
                    float: none;
                }
                &#shipping_address_1_field,
                &#shipping_address_2_field,
                &#shipping_city_field,
                &#shipping_postcode_field,
                &#shipping_broj_telefona_field,
                &#shipping_email_field {
                    width: 100%;
                    float: none;
                }
                }
            }
        }
        #payment {
            width: 100%;
        }
        .shop_table.shop_table_responsive.cart.woocommerce-cart-form__contents {
            width: 100% !important;
        }
    }
}
