.contact-container {
    padding-top: 50px;
    padding-bottom: 50px;
    h1 {
        margin-bottom: 50px;
        font-size: 48px;
        color: #4b4b4b;
    }
    p {
        font-size: 14px;
        color: #4b4b4b;
        padding-bottom: 20px;
        span {
            color: #04d7da;
        }
    }
    form {
        margin-top: 75px;
        display: table;
        label {
            font-size: 14px;
            color: #4b4b4b;
        }
        input {
            height: 35px;
            padding: 10px;
            border-radius: 0;
            background-color: #ebebeb;
            border: none;
        }
        textarea {
            resize: none;
            background-color: #ebebeb;
            border: none;
            width: 100%;
        }
        .wpcf7-form-control.wpcf7-submit {
            padding: 15px 40px;
            background: linear-gradient(to bottom, #9cf20b, #5bca06);
            height: auto;
            border-radius: 10px;
            text-align: center;
            color: #fff;
            font-size: 16px;
        }
    }
}


@media (max-width: 767px) {
    .contact-container {
        h1 {
            font-size: 180%;
        }
        form {
            display: block;
            margin-top: 50px;
            input {
                width: 100%;
            }
        }
    }
}
