.woocommerce-view-order {
    .woocommerce-MyAccount-content {
        float: none;
        width: 100%;
        .view-order-container {
            margin-top: 50px;
            height: 100vh;
        }
        .view-order-naslov {
            margin-bottom: 50px;
            margin-top: 0;
            h1 {
                font-size: 48px;
                color: #4b4b4b;
                margin-top: 0;
            }
        }
        .view-order-details {
            width: calc(100% / 6 * 4);
            float: left;
            table {
                width: 100%;
                border-collapse: collapse;
                th {
                    background-color: #f2aa04;
                    padding: 20px;
                    font-family: 'Merriweather';
                    font-weight: normal;
                    span.first-span {
                        font-size: 24px;
                        color: #fff;
                        margin-bottom: 10px;
                    }
                    span {
                        font-size: 14px;
                        color: #fff;
                    }
                }
                tr {
                    position: relative;
                    &.opis-porudzbine {
                        font-size: 18px;
                        color: #4b4b4b;
                        border-bottom: 1px solid #ccc;
                        td {
                            vertical-align: bottom;
                            padding-top: 65px;
                            &.cena {
                                text-align: right;
                            }
                            &.ukupno {
                                text-align: right;
                            }
                            &.kolicina {
                                text-align: center;
                            }
                        }
                    }
                    td {
                        padding-bottom: 10px;
                        margin-top: 10px;
                        &.table-inner-price {
                            text-align: right;
                            font-size: 16px;
                        }
                        &.table-inner-kolicina {
                            text-align: center;
                            font-size: 16px;
                        }
                        &.table-inner-ukupno {
                            text-align: right;
                            font-size: 16px;
                        }
                        &.table-inner-image {
                            display: flex;
                            a {                              
                              margin-right: 10px;
                            }
                            img {
                                width: 40px;
                                height: 65px;
                            }
                            a {
                                font-size: 16px;
                                color: #4b4b4b;
                            }
                        }
                    }
                    &:last-of-type {
                        td {
                            &.table-inner-price,
                            &.table-inner-image,
                            &.table-inner-kolicina,
                            &.table-inner-ukupno {
                                border-bottom: 1px solid #ccc;
                            }
                        }
                    }
                }
            }
            .detalji-narudzbine-ukupno {
                margin-bottom: 50px;
                margin-top: 40px;
                float: right;
                table {
                    tr {
                        &::after {
                            width: 0;
                        }
                        &.shipping {
                            th {
                                color: #4b4b4b;
                                font-size: 14px;
                                font-weight: normal;
                                background-color: transparent;
                                padding: 0;
                                vertical-align: top;
                            }
                            td {
                                vertical-align: top;
                                font-size: 0;
                                span {
                                    font-size: 18px;
                                    font-weight: bold;
                                    color: #4b4b4b;
                                }
                            }
                        }
                        &.cena-dostava {
                            td {
                                vertical-align: top;
                                span {
                                    font-size: 10px;
                                    color: #949494;
                                }
                            }
                        }
                        .cena-dostava {
                            .woocommerce-Price-amount {
                                font-size: 18px;
                                font-weight: bold;
                                color: #4b4b4b;
                                .woocommerce-Price-currencySymbol {
                                    font-size: 18px;
                                    font-weight: bold;
                                    color: #4b4b4b;
                                    display: inline-block;
                                }
                            }
                        }
                    }
                    td {
                        text-align: right;
                        &.vrednost,
                        &.dostava,
                        &.ukupno-ukupno {
                            font-size: 14px;
                            color: #4b4b4b;
                        }
                        &.tezina {
                            vertical-align: top;
                        }
                        &.suma-ukupno {
                            color: #f2aa04;
                            font-size: 24px;
                        }
                        &.cena-dostave,
                        &.cena-knjiga {
                            font-size: 18px;
                        }
                        &.cena-dostave {
                            vertical-align: top;
                            span {
                                display: block;
                                font-size: 10px;
                                color: #949494;
                            }
                        }
                        &.dostava {
                            vertical-align: top;
                        }
                        &.vrednost
                        &.cena-knjiga {
                            vertical-align: bottom;
                        }
                        &.vrednost,
                        &.dostava-text,
                        &.ukupno-ukupno {
                            padding-right: 55px;
                        }
                        &.cena-dostava {
                            font-size: 18px;
                            font-weight: bold;
                            .woocommerce-Price-amount.amount,
                            .woocommerce-Price-currencySymbol {
                                font-weight: normal !important;
                            }
                            span {
                                font-size: 10px;
                                display: block;
                                color: #949494;
                            }
                        }
                        &.dostava-text {
                            vertical-align: top;
                        }
                    }
                }
            }
            .shipped_via {
                display: none;
            }
        }
    }
    .view-order-address {
        width: calc(100% / 3);
        float: left;
        padding-left: 80px;
        .telefon-email {
            margin-top: 35px;
        }
        .adresa-za-isporuku {
            display: block;
            width: 100%;
            float: none;
            margin-bottom: 50px;
            h2 {
                margin-bottom: 25px;
                font-size: 24px;
                color: #f2aa04;
            }
            p {
                padding-bottom: 0;
                font-size: 16px;
                color: #4b4b4b;
            }
        }
        .adresa-za-naplatu {
            display: block;
            width: 100%;
            float: none;
            h2 {
                margin-bottom: 25px;
                font-size: 24px;
                color: #f2aa04;
            }
            p {
                padding-bottom: 0;
                font-size: 16px;
                color: #4b4b4b;
            }
        }
    }
}


@media (max-width: 767px) {
    .woocommerce-view-order {
        .woocommerce-MyAccount-content {
            .view-order-naslov {
                h1 {
                    font-size: 180%;
                }
            }
            .view-order-details {
                float: none;
                width: 100%;
                display: block;
                table {
                    th {
                        display: block;
                        margin-bottom: 5px;
                        padding: 5px;
                        span {
                            &:first-of-type {
                                font-size: 120%;
                            }
                            font-size: 80%;
                        }
                    }
                    tr {
                        &.opis-porudzbine {
                            display: none;
                        }
                    }
                    tr {
                        td {
                            display: block;
                            &.table-inner-image {
                                display: block;
                            }
                            &.table-inner-price,
                            &.table-inner-kolicina,
                            &.table-inner-ukupno {
                                text-align: left;
                            }
                        }
                    }
                }
            }
            .detalji-narudzbine-ukupno {
                width: 100%;
                max-width: 100%;
                float: none;
                table {
                    td {
                        text-align: left !important;
                    }
                }
            }
            .view-order-address {
                width: 100%;
                padding-left: 80px;
            }
            .view-order-address {
                padding-left: 0;
            }
        }
    }
}

@media (min-width: 768px) and (max-width: 1240px) {
    .woocommerce-view-order  {
        .woocommerce-MyAccount-content {
            width: 100% !important;
            .view-order-container {
                height: auto;
            }
            .view-order-details {
                width: 100%;
                float: none;
            }
            .detalji-narudzbine-ukupno {
                float: none !important;
            }
            .view-order-address {
                width: 100%;
                padding-left: 0;
                float: none;
            }
        }
    }
}
