.detalji-naloga-forma {
    .pb-75();
    h2 {
        font-size: 24px;
        color: #f2aa04;
        margin-bottom: 30px !important;
        .pl-20();
        .pr-20();
    }
    .detalji-naloga-input {
        p {
            color: #4b4b4b;
            font-size: 14px;
            margin-bottom: 0;
            margin-top: 20px;
            .pl-20();
            .pr-20();
            &.woocommerce-form-row.woocommerce-form-row--first.form-row.form-row-first,
            &.woocommerce-form-row.woocommerce-form-row--last.form-row.form-row-last {
                width: 50%;
            }
            &.woocommerce-form-row.woocommerce-form-row--wide.form-row.form-row-wide {
                margin-bottom: 0;
            }
        }
        span.required {
            color: #4b4b4b;
        }
        input {
            height: 35px;
            border-radius: 0;
            border: none;
            background-color: #ebebeb;
            padding: 10px;
        }
    }
    .new-password-block {
        .new-password,
        .confirm-password {
            width: 50%;
            float: left;
            &,
            &::after,
            &::before {
                content: none;
                clear: none;
            }
        }
    }
    .detalji-naloga-button {
        .pl-20();
        .pr-20();
    }
    .woocommerce-Button.button {
        background: linear-gradient(to bottom, #9cf20b, #5bca06);
        color: #fff;
        border-radius: 10px;
        padding-right: 35px;
        padding-left: 35px;
        margin-top: 35px;
        .pt-15();
        .pb-15();
        font-weight: normal;
        font-size: 16px;
        &::before {
            content: "\e908";
            font-family: 'icomoon';
            margin-right: 10px;
        }
        &:hover {
            background: linear-gradient(to bottom, #9cf20b, #5bca06);
            color: #fff;
        }
    }
}


@media (max-width: 767px) {
    .detalji-naloga-forma {
        padding-bottom: 0;
        .detalji-naloga-input {
            p {
                width: 100% !important;
                float: none;
                padding-left: 0;
                padding-right: 0;
                margin-top: 10px;
            }
            .new-password-block {
                .new-password,
                .confirm-password {
                    float: none;
                    width: 100%;
                }
            }
        }
        .detalji-naloga-button {
            padding-right: 0;
            padding-left: 0;
        }
    }
    .woocommerce-account {
        .woocommerce-MyAccount-content  {
            h2 {
                padding: 0;
            }
        }
    }
}
