@footer-bg-color: #4b4b4b;

.chipcard-footer {
  & > li {
    list-style: none;
    padding-top: 15px;
    padding-bottom: 15px;
  }
}
.copyright-footer {
  text-align: center;
  background-color: #cdcdcd;
  padding-top: 15px;
  padding-bottom: 15px;
  p {
    font-size: 12px;
    color: #3c3c3c;
  }
}

.site-footer {
    background-color: @footer-bg-color;
    .pt-30();
    // height: 300px;
    // margin-top: -300px;
    .pb-40();
    width: 100%;
    clear: both;
    .footer-images {
        display: flex;
        margin-bottom: 35px;
        .footer-logo {
            list-style: none;
        }
    }
    .footer-lists {
        display: flex;
        .footer-list {
            list-style: none;
            .menu {
                list-style: none;
                li {
                    a {
                        color: #fff;
                        .pb-15();
                        font-family: @main-fontFamily;
                    }
                }
            }
        }
        .footer-first-list {
            a {
                text-transform: uppercase;
                font-weight: 600;
                font-size: 14px;
            }
        }
        .footer-second-list {
            a {
                font-family: @main-fontFamily;
                font-size: 12px;
            }
        }
        .footer-third-list {
            h2 {
                font-size: 20px;
                font-family: @heading-fontFamily;
                font-weight: 600;
                color: #f2aa04;
                font-weight: normal;
                .pb-25();
            }
            .textwidget {
                font-family: @main-fontFamily;
                p {
                    .pb-5();
                    color: #fff;
                    font-size: 14px;
                }
            }
        }
    }
    .footer-paragraph {
        p {
            font-size: 12px;
            color: #fff !important;
            font-family: @main-fontFamily;
            margin-top: 30px;
        }
    }
}

@media (max-width: 767px) {
    .site-footer {
        .footer-images {
            display: block;
            .footer-logo {
                width: 100%;
                margin-bottom: 40px;
            }
        }
        .footer-lists {
            display: block;
            .footer-list {
                width: 100%;
                margin-bottom: 40px;
            }
        }
    }
}

@media (min-width: 768px) and (max-width: 1240px) {
    .site-footer {
        .footer-images {
            .footer-logo {
                width: 50%;
                text-align: center;
                margin-bottom: 60px;
            }
        }
        .footer-lists {
            .footer-list {
                width: (100% / 3);
                text-align: center;
                margin-bottom: 40px;
            }
        }
        .footer-paragraph {
            text-align: center;
        }
    }
}
