@site-header-bgcolor: #583e5b;
@site-header-paragraph-bgcolor: #47314a;

.dgwt-wcas-close {
    background-image: none !important;
}

@media (max-width: 767px) {
    .search-wrapper {
        margin-left: -20px;
        margin-right: -20px;
        padding-left: 20px;
        padding-right: 20px;
        padding-top: 35px;
        padding-bottom: 35px;
    }
    .site-logo {
        margin-right: auto;
        img {
            width: 135px;
            vertical-align: middle;
        }
    }
    .hamburger {
        display: block;
        margin-left: auto;
    }
    .header-mobile-top {
        height: 65px;
        background-color: @site-header-paragraph-bgcolor;
        .header-container {
            padding-left: 0;
            padding-right: 0;
        }
        .header-mobile-container-top {
            display: flex;
            align-items: center;
            height: 100%;
        }
        .header-mobile-icons {
            display: flex;
        }
        .mobile-search,
        .mobile-cart {
            a {
                font-size: 20px;
                color: #52c306;
            }
        }
        .cart-result {
            padding-bottom: 50px;
        }
        .mini-narudzbina {
            margin-bottom: 40px;
            .mini-narudzbina-image {
                margin-bottom: 5px;
                img {
                    width: auto;
                    max-width: 100%;
                }
            }
            p {
                color: #fff;
            }
        }
        .primary-item-submenu {
            margin-bottom: 30px;
            top: 0;
            width: 100vw;
            position: fixed;
            padding-left: 20px;
            padding-right: 20px;
            text-align: center;
            left: 0;
        }
        .primary-item-cart-submenu {
            &[style*="overflow-y: scroll"] {
                height: 100%;
            }
        }
        .mobile-search {
            margin-right: 35px;
        }
        .mobile-cart {
            position: relative;
            .cart-counter {
                color: #fff;
                background-color: red;
                border-radius: 50%;
                width: 17px;
                height: 17px;
                text-align: center;
                position: absolute;
                top: -3px;
                right: -13px;
                font-size: 10px;
                span {
                    top: 50%;
                    left: 50%;
                    position: absolute;
                    transform: translate(-50%,-50%);
                }
            }
            .primary-item-cart-submenu {
                height: ~"calc(100% - 65px)";
                margin-top: 75px;
            }
        }
        .mini-cart-ukupno  {
            p {
                color: #fff;
            }
        }
        .mini-cart-buttons {
            margin-top: 20px;
            margin-bottom: 40px;
            .pregled-korpe {
                color: #fff;
                float: left;
                width: 45%;
                font-size: 12px;
                background: linear-gradient(to bottom,#9cf20b,#5bca06);
                border-radius: 10px;
                text-align: center;
                padding-top: 5px;
                padding-bottom: 5px;
                &::before {
                    content: "\e900";
                    font-family: icomoon;
                    margin-right: 10px;
                    font-size: 13px;
                }
            }
            .placanje {
                font-size: 12px;
                width: 45%;
                float: right;
                background: linear-gradient(to bottom,#f9d706,#f3b004);
                color: #fff;
                text-align: center;
                border-radius: 10px;
                padding-top: 5px;
                padding-bottom: 5px;
                &::before {
                    content: "\e903";
                    font-family: icomoon;
                    margin-right: 10px;
                    font-size: 13px;
                }
            }
        }
    }
}

@media (min-width: 768px) and (max-width: 1024px) {
    .search-wrapper {
        margin: 0 auto;
        padding-top: 35px;
        padding-bottom: 35px;
    }
    .site-logo {
        margin-right: auto;
        img {
            width: 200px;
            vertical-align: middle;
        }
    }
    .hamburger {
        display: block;
        margin-left: auto;
    }
    .header-mobile-top {
        height: 65px;
        background-color: @site-header-paragraph-bgcolor;
        .header-container {
            padding-left: 0 !important;
            padding-right: 0 !important;
        }
        .header-mobile-container-top {
            display: flex;
            align-items: center;
            height: 100%;
        }
        .header-mobile-icons {
            display: flex;
        }
        .mobile-search,
        .mobile-cart {
            a {
                font-size: 20px;
                color: #52c306;
            }
        }
        .cart-result {
            padding-bottom: 50px;
        }
        .mini-narudzbina {
            margin-bottom: 40px;
            .mini-narudzbina-image {
                margin-bottom: 5px;
                img {
                    width: auto;
                    max-width: 100%;
                }
            }
            p {
                color: #fff;
            }
        }
        .primary-item-submenu {
            margin-bottom: 30px;
            top: 0;
            width: 100vw;
            position: fixed;
            padding-left: 20px;
            padding-right: 20px;
            text-align: center;
            left: 0;
        }
        .primary-item-cart-submenu {
            &[style*="overflow-y: scroll"] {
                height: 100%;
            }
        }
        .mobile-search {
            margin-right: 35px;
        }
        .mobile-cart {
            position: relative;
            .cart-counter {
                color: #fff;
                background-color: red;
                border-radius: 50%;
                width: 17px;
                height: 17px;
                text-align: center;
                position: absolute;
                top: -3px;
                right: -13px;
                font-size: 10px;
                span {
                    top: 50%;
                    left: 50%;
                    position: absolute;
                    transform: translate(-50%,-50%);
                }
            }
            .primary-item-cart-submenu {
                height: ~"calc(100% - 65px)";
                margin-top: 75px;
            }
        }
        .mini-cart-ukupno {
            p {
                color: #fff;
            }
        }
        .mini-cart-buttons {
            margin-top: 20px;
            margin-bottom: 40px;
            display: flex;
            justify-content: center;
            .pregled-korpe {
                color: #fff;
                float: left;
                width: 25%;
                font-size: 12px;
                background: linear-gradient(to bottom,#9cf20b,#5bca06);
                border-radius: 10px;
                text-align: center;
                padding-top: 10px;
                padding-bottom: 10px;
                margin-right: 90px;
                &::before {
                    content: "\e900";
                    font-family: icomoon;
                    margin-right: 10px;
                    font-size: 13px;
                }
            }
            .placanje {
                font-size: 12px;
                width: 25%;
                float: right;
                background: linear-gradient(to bottom,#f9d706,#f3b004);
                color: #fff;
                text-align: center;
                border-radius: 10px;
                padding-top: 10px;
                padding-bottom: 10px;
                &::before {
                    content: "\e903";
                    font-family: icomoon;
                    margin-right: 10px;
                    font-size: 13px;
                }
            }
        }
    }
}


.woocommerce-form-row.woocommerce-form-row--wide.form-row.form-row-wide {
    font-size: 14px;
    margin-bottom: 10px;
    color: #4b4b4b;
    .woocommerce-Input--text {
        background-color: #ebebeb;
        border: none;
        height: 35px;
    }
    .required {
        color: #4b4b4b;
    }
}

.dgwt-wcas-pd-price {
    del {
        display: block;
    }
    ins {
        text-decoration: none;
    }
}

.site-header {
    .header-paragraph {
        background-color: @site-header-paragraph-bgcolor;
        .secondary-navigation {
            position: relative;
            float: right;
            li {
                border-left: 2px solid #5d4a60;
                display: inline-block;
                vertical-align: middle;
                &:last-of-type {
                    border-right: 2px solid #5d4a60;
                }
                .mini-cart {
                    width: 420px;
                    background-color: #fff;
                    height: auto;
                    position: absolute;
                    right: 0;
                    padding: 15px;
                    z-index: 9999;
                    .mini-narudzbina {
                        display: flex;
                        margin-bottom: 15px;
                        .mini-narudzbina-image {
                            img {
                                height: auto;
                                width: 45px;
                                max-width: none;
                            }
                        }
                        .mini-narudzbina-author {
                            margin-right: auto;
                            padding-left: 10px;
                            .mini-cart-name {
                                font-size: 10px;
                                color: #4b4b4b;
                                margin-bottom: 10px;
                            }
                            .mini-cart-book {
                                color: #4b4b4b;
                                font-size: 16px;
                            }
                        }
                        .mini-narudzbina-price {
                            margin-left: auto;
                            display: flex;
                            align-items: center;
                            p {
                                color: #f2aa04;
                                font-size: 12px;
                                white-space: nowrap;
                            }
                        }
                    }
                    .mini-cart-ukupno {
                        display: table;
                        margin-bottom: 10px;
                        float: right;
                        text-align: right;
                        .clearfix();
                        .mini-cart-ukupno-cifra {
                            float: right;
                            font-size: 10px;
                            font-weight: bold;
                            width: 100%;
                            font-size: 18px;
                            margin-bottom: 5px;
                            span {
                                color: #f2aa04;
                                font-weight: bold;
                            }
                        }
                        .mini-cart-ukupno-napomena {
                            float: right;
                            width: 100%;
                            font-size: 11px;
                            color: #4b4b4b;
                        }
                    }
                    .mini-cart-buttons {
                        .clearfix();
                        .pregled-korpe {
                            color: #fff;
                            float: left;
                            width: 48%;
                            font-size: 12px;
                            margin-right: 1%;
                            background: linear-gradient(to bottom, #9cf20b, #5bca06);
                            border-radius: 10px;
                            text-align: center;
                            padding-top: 10px;
                            padding-bottom: 10px;
                            padding-right: 20px;
                            padding-left: 20px;
                            &::before {
                                content: "\e900";
                                font-family: 'icomoon';
                                margin-right: 10px;
                                font-size: 13px;
                            }
                        }
                        .placanje {
                            font-size: 12px;
                            width: 48%;
                            float: right;
                            margin-left: 1%;
                            background: linear-gradient(to bottom, #f9d706 , #f3b004);
                            color: #fff;
                            text-align: center;
                            border-radius: 10px;
                            padding-top: 10px;
                            padding-bottom: 10px;
                            padding-right: 20px;
                            padding-left: 20px;
                            &::before {
                                content: "\e903";
                                font-family: 'icomoon';
                                margin-right: 10px;
                                font-size: 13px;
                            }
                        }
                    }
                }
                & > a {
                    outline: 0;
                    position: relative;
                    .pt-10();
                    .pb-10();
                    .pr-20();
                    .pl-20();
                    color: #fff;
                    font-size: 14px;
                    font-family: 'Montserrat';
                    display: table-cell;
                    i {
                        color: #52c306;
                        margin-right: 15px;
                    }
                    .icon-cart {
                        margin-right: 0;
                        display: table-cell;
                        font-size: 20px;
                        &::after {
                            position: relative;
                        }
                    }
                    .cart-counter {
                        color: #fff;
                        background-color: red;
                        border-radius: 50%;
                        width: 18px;
                        height: 18px;
                        text-align: center;
                        position: absolute;
                        top: 10px;
                        right: 10px;
                        font-size: 10px;
                        span {
                            top: 50%;
                            left: 50%;
                            position: absolute;
                            transform: translate(-50%,-50%);
                        }
                    }
                }
                .sub-menu-box {
                    box-shadow: 1px 2px 8px -2px rgba(0, 0, 0, 0.65);
                    display: none;
                }
                &.registruj-se-list-item {
                    position: relative;
                    .register-sub {
                        width: 350px;
                        background-color: #fff;
                        height: auto;
                        position: absolute;
                        right: -4px;
                        padding: 25px 20px;
                        z-index: 9999;
                        .register {
                            border: none;
                            margin: 0;
                            padding: 0;
                        }
                        .woocommerce-Button.button {
                            background: linear-gradient(to bottom, #9cf20b, #5bca06);
                            color: #fff;
                            border-radius: 10px;
                            height: 35px;
                            .pr-20();
                            font-weight: normal;
                            font-size: 14px;
                            .pl-20();
                            border: none !important;
                            &::before {
                                content: "\e90a";
                                font-size: 14px;
                                font-family: 'icomoon';
                                margin-right: 10px;
                            }
                        }
                        label {
                            display: block;
                        }
                        input {
                            width: 100%;
                        }
                    }
                }
                &.prijavi-se-list-item {
                    position: relative;
                    .prijavi-se-sub {
                        width: 350px;
                        background-color: #fff;
                        height: auto;
                        position: absolute;
                        right: -4px;
                        padding: 25px 20px;
                        z-index: 9999;
                        .woocommerce-form.woocommerce-form-login {
                            border: none;
                            margin: 0;
                            padding: 0;
                            .form-row {
                                margin-bottom: 10px;
                                #rememberme {
                                    vertical-align: middle;
                                    margin-right: 20px;
                                }
                                .woocommerce-form__label {
                                    span {
                                        color: #4b4b4b;
                                        font-size: 14px;
                                    }
                                }
                            }
                            .woocommerce-LostPassword.lost_password {
                                margin-bottom: 20px;
                                a {
                                    color: #04d7da;
                                    font-size: 14px;
                                    padding: 0;
                                }
                            }
                            #username,
                            #password {
                                padding: 10px;
                                width: 100%;
                            }
                            .woocommerce-Button.button {
                                background: linear-gradient(to bottom, #9cf20b, #5bca06);
                                color: #fff;
                                border-radius: 10px;
                                height: 35px;
                                .pr-20();
                                font-size: 14px;
                                font-weight: normal;
                                .pl-20();
                                border: none !important;
                                &::before {
                                    content: "\e909";
                                    font-family: 'icomoon';
                                    margin-right: 10px;
                                    font-size: 14px;
                                }
                            }
                        }
                    }
                }
                &.moj-nalog-list-item {
                    position: relative;
                    .moj-nalog-sub {
                        width: 175px;
                        background-color: #fff;
                        height: auto;
                        position: absolute;
                        left: 0;
                        .pb-10();
                        .pt-10();
                        z-index: 9999;
                        ul {
                            li {
                                display: block;
                                border: none;
                                a {
                                    font-size: 14px;
                                    color: #4b4b4b;
                                    .pt-15();
                                    .pb-15();
                                    .pr-30();
                                    .pl-30();
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    .main-navigation {
        background-color: @site-header-bgcolor;
        position: relative;
        .widget_search {
            list-style: none;
            width: 480px;
            margin-left: 10px;
            input {
                border: none !important;
                border-radius: 0 !important;
            }
            button {
                background-color: transparent !important;
                &::before {
                    display: none;
                }
                .dgwt-wcas-ico-loupe {
                    fill: #66ca23;
                }
            }
        }
        .hamburger {
            cursor: pointer;
            position: relative;
            width: 48px;
            height: 48px;
            outline: 0;
        }
        .hamburger__top-bun,
        .hamburger__bottom-bun,
        .hamburger__middle-bun {
            content: '';
            display: block;
            position: absolute;
            left: 9px;
            width: 30px;
            height: 2px;
            background: #fff;
        }
        .hamburger__top-bun {
            top: 16px;
        }
        .hamburger__middle-bun, {
            top: 22px;
        }
        .hamburger__bottom-bun {
            top: 28px;
        }
    }
    .header-container {
        display: flex;
        height: 65px;
        align-items: center;
        .site-logo {
            margin-right: auto;
            a {
                outline: 0;
            }
        }
    }
    .site-nav {
        margin-left: auto;
        ul.menu {
            & > li {
                height: 65px;
                display: inline-block;
                & > a {
                    outline: 0;
                    line-height: 65px;
                    font-size: 14px;
                    display: block;
                    font-family: 'Montserrat';
                    color: #fff;
                    .pr-15();
                    .pl-15();
                    text-transform: uppercase;
                }
                &:hover {
                    .nav-sub-menu {
                        opacity: 1;
                        visibility: visible;
                    }
                }
            }
        }
        .nav-sub-menu {
            box-shadow: 0 2px 2px -2px rgba(0, 0, 0, 0.65);
            .pt-25();
            .pb-80();
            opacity: 0;
            visibility: hidden;
            list-style: none;
            position: absolute;
            height: auto;
            width: 100vw;
            background-color: #fff;
            top: 100%;
            z-index: 9999;
            left: 0;
            transition: all .3s ease .3s;
            .nav-sub-menu-container {
                h2 {
                    margin-bottom: 25px;
                    text-transform: uppercase;
                    font-size: 24px;
                    color: #f16f66;
                    text-align: left;
                }
                .nav-sub-menu-lists {
                    display: flex;
                    .nav-sub-menu-list {
                        .pl-20();
                        .pr-20();
                        text-align: left;
                        width: calc(100% / 3);
                        border-right: 1px solid #04d7da;
                        a {
                            font-size: 16px;
                            .pt-10();
                            padding-left: 0;
                            padding-right: 0;
                            color: #666666;
                            span {
                                color: #04d7da;
                                font-size: 12px;
                                font-weight: normal; // Stefan mi je rekao jer se jasnije vidi
                            }
                        }
                        &:last-of-type {
                          border: none !important;
                        }
                    }
                    .nav-sub-menu-list-book {
                      float: left;
                      width: 45%;
                      text-align: center;
                      del {
                        color: #52c306;
                      }
                      ins {
                        text-decoration: none;
                      }
                      .nav-sub-menu-list-book-relative {
                        position: relative;
                        display: table;
                        a {
                          vertical-align: bottom;
                          display: table-cell;
                        }
                      }
                      .woocommerce-Price-amount.amount {
                        margin-top: 15px;
                        display: block;
                        color: #52c306;
                        font-weight: bold;
                        font-size: 14px !important;
                        .woocommerce-Price-currencySymbol {
                          display: inline-block !important;
                          margin-top: 0;
                        }
                      }
                      &:nth-of-type(even) {
                        float: right;
                      }
                      a {
                        color: #666;
                        font-size: 20px;
                      }
                      .button.product_type_simple.add_to_cart_button.ajax_add_to_cart {
                          content: "\e900";
                          font-family: 'icomoon' !important;
                          position: absolute;
                          right: 0;
                          bottom: 0;
                          font-size: 0;
                          height: 66px;
                          padding: 0;
                          width: 66px;
                          background-color: transparent;
                          border-top-left-radius: 0;
                          border-bottom-left-radius: 0;
                          border-bottom-right-radius: 0;
                          border-top-right-radius: 0;
                          border-top: 33px solid transparent;
                          border-bottom: 33px solid #04d7da;
                          border-left: 33px solid transparent;
                          border-right: 33px solid #04d7da;
                          color: #fff;
                          &::after {
                              content: "\e901";
                              font-family: 'icomoon' !important;
                              position: relative;
                              font-size: 20px;
                              top: 5px;
                              left: 5px;
                              font-weight: normal;
                          }
                      }
                    }
                }
            }
        }
    }
    .flexslider {
        border: none !important;
        position: relative;
        img {
           max-width: 100%;
           width: 100%;
        }
        .flex-control-nav {
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
            bottom: 15%;
            text-align: center;
            li {
                display: inline-block;
                a {
                    background-color: #fff;
                    padding-left: 15px;
                    display: block;
                    visibility: hidden;
                    &::after {
                        content: "";
                        width: 15px;
                        height: 15px;
                        display: block;
                        background-color: #fff;
                        visibility: visible;
                        border-radius: 50%;
                    }
                    &.flex-active::after,
                    &.flex-active::before {
                        background-color: #04d7da;
                    }
                }
            }
        }
        .flex-direction-nav {
            display: none;
        }
    }
}

.mobile-nav {
    margin-bottom: 20px;
    padding-top: 20px;
    opacity: 0.9;
    text-align: center;
    display: none;
    width: 100%;
    .close-mobile-nav {
        position: fixed;
        top: 10px;
        right: 10px;
        z-index: 9999;
        cursor: pointer;
        width: 40px;
        height: 40px;
        span {
            width: 30px;
            height: 2px;
            background-color: #fff;
            display: block;
            &.first-span {
                transform: rotate(45deg) translate(16px, 10px);
            }
            &.second-span {
                 transform: rotate(-45deg) translate(-9px, 15px);
            }
        }
    }
    ul {
        list-style: none;
        li {
            a {
                padding-top: 5px;
                padding-bottom: 5px;
            }
            .submenu-list {
                background-color: #583e5b;
                a {
                    color: #fff !important;
                }
            }
            &.primary-item {
                > a {
                    color: #fff;
                    font-size: 16px;
                }
                .primary-item-submenu {
                    margin-bottom: 30px;
                    position: absolute;
                    top: 0;
                    width: 100vw;
                    margin-left: -20px;
                    margin-right: -20px;
                    position: fixed;
                    padding-left: 20px;
                    padding-right: 20px;
                    h3 {
                        font-size: 30px;
                        color: #f2aa04;
                        margin-bottom: 30px;
                    }
                    .submenu-list {
                        height: 100vh;
                        a {
                            font-size: 15px;
                            color: #fff;
                            padding: 12px;
                        }
                    }
                }
                .primary-item-reg-submenu {
                    margin-top: 90px;
                    form {
                        border: none;
                        margin-top: 90px;
                        text-align: left;
                        input {
                            background-color: #ebebeb !important;
                            height: 35px !important;
                            width: 100%;
                        }
                        button {
                            background: linear-gradient(to bottom, #9cf20b, #5bca06);
                            color: #fff;
                            border-radius: 10px;
                            height: 35px;
                            padding-right: 20px;
                            font-weight: normal;
                            font-size: 14px;
                            border: none !important;
                            padding-left: 20px;
                            margin-top: 15px;
                            &::before {
                                content: "\e90a";
                                font-size: 14px;
                                font-family: 'icomoon';
                                margin-right: 10px;
                            }
                        }
                        label {
                            color: #fff;
                            display: block;
                        }
                    }
                }
                .primary-item-prijava-submenu {
                    margin-top: 90px;
                    form {
                        border: none;
                        margin-top: 90px;
                        text-align: left;
                        label {
                            color: #fff;
                            display: block;
                        }
                        input {
                            background-color: #ebebeb !important;
                            height: 35px !important;
                            width: 100%;
                        }
                        #rememberme {
                            width: 20px !important;
                            background-color: #ebebeb;
                            height: 20px !important;
                            -moz-appearance: none !important;
                        }
                        .woocommerce-LostPassword.lost_password {
                            margin-bottom: 20px;
                            a {
                                color: #04d7da;
                                font-size: 14px;
                                padding: 0;
                            }
                        }
                        button {
                            background: linear-gradient(to bottom, #9cf20b, #5bca06);
                            color: #fff;
                            border-radius: 10px;
                            height: 35px;
                            padding-right: 20px;
                            font-weight: normal;
                            font-size: 14px;
                            border: none !important;
                            padding-left: 20px;
                            &::before {
                                content: "\e909";
                                font-family: 'icomoon';
                                margin-right: 10px;
                                font-size: 14px;
                            }
                        }
                    }
                }
            }
            &.primary-item-cart {
                padding-bottom: 30px;
                .primary-item-cart-submenu {
                    margin-top: 75px;
                    &[style*="overflow-y: scroll"] {
                        height: 100%;
                    }
                }
                a {
                    position: relative;
                }
                .mini-narudzbina {
                    margin-bottom: 40px;
                    .mini-narudzbina-image {
                        img {
                            width: 60px;
                            height: 80px;
                        }
                    }
                    p {
                        color: #fff;
                    }
                }
                .icon-cart,
                .cart-counter {
                    display: inline-block;
                }
                .icon-cart {
                    color: #52c306;
                    font-size: 20px !important;
                }
                .cart-counter {
                    span {
                        font-size: 14px;
                        position: absolute;
                        top: 17%;
                        left: 53%;
                        transform: translate(-50%,-50%);
                        color: #fff;
                        background-color: red;
                        border-radius: 50%;
                        width: 18px;
                        height: 18px;
                        text-align: center;
                    }
                }
                .troskovi-cart {
                    p {
                        color: #fff;
                    }
                }
                .cart-buttons {
                    margin-top: 20px;
                    margin-bottom: 40px;
                    &::before,
                    &::after {
                        content: " ";
                        display: table;
                        clear: both;
                    }
                    .pregled-korpe {
                        color: #fff;
                        float: left;
                        width: 46%;
                        font-size: 12px;
                        margin-right: 2%;
                        margin-left: 2%;
                        background: linear-gradient(to bottom, #9cf20b, #5bca06);
                        border-radius: 10px;
                        text-align: center;
                        &::before {
                            content: "\e900";
                            font-family: 'icomoon';
                            margin-right: 10px;
                            font-size: 13px;
                        }
                    }
                    .troskovi {
                        font-size: 12px;
                        width: 44%;
                        margin-right: 2%;
                        margin-left: 2%;
                        float: right;
                        background: linear-gradient(to bottom, #f9d706, #f3b004);
                        color: #fff;
                        text-align: center;
                        border-radius: 10px;
                        &::before {
                            content: "\e903";
                            font-family: 'icomoon';
                            margin-right: 10px;
                            font-size: 13px;
                        }
                    }
                }
            }
        }
    }
}

@media (max-width: 767px) {
    .site-header {
        .site-logo {
            margin-right: auto;
            img {
                width: 135px;
                vertical-align: middle;
            }
        }
        .header-paragraph {
            display: none;
            .secondary-navigation {
                #menu-sekundarna-navigacija {
                    text-align: center;
                }
                float: none;
                li  {
                    border: none;
                    display: block;
                    &:last-of-type {
                        border: none;
                    }
                    &.registruj-se-list-item {
                        .register-sub {
                            max-width: 100%;
                            right: 0;
                        }
                    }
                    &.prijavi-se-list-item {
                        .prijavi-se-sub {
                            max-width: 100%;
                            right: 0;
                        }
                    }
                    &.moj-nalog-list-item {
                        .moj-nalog-sub {
                            width: 100%;
                            max-width: 100%;
                            right: 0;
                        }
                    }
                    &.cart-list-item {
                        .mini-cart {
                            max-width: 100%;
                        }
                    }
                    a {
                        display: block;
                        .icon-cart {
                            display: block;
                        }
                        .cart-counter {
                            top: 15%;
                            right: 40%;
                        }
                    }
                }
            }
        }
        .header-container {
            display: block;
            height: auto;
        }
        .main-navigation {
            .hamburger {
                display: block;
                margin-left: auto;
            }
            .widget_search {
                max-width: 100%;
                margin-left: auto;
                margin-right: auto;
                margin-top: 0 !important;
                margin-bottom: 0 !important;
                .dgwt-wcas-search-wrapp {
                    min-width: auto;
                }
            }
            .site-nav {
                float: none;
                text-align: center;
                display: block;
                margin-top: 30px;
                ul {
                    & > li {
                        height: auto;
                        position: relative;
                        display: block;
                        & > a {
                            line-height: normal;
                            .pt-10();
                            .pb-10();
                            position: relative;
                        }
                    }
                }
            }
            .nav-sub-menu {
                max-width: 100%;
                max-height: none;
                opacity: 1;
                visibility: visible;
                display: none;
                .nav-sub-menu-container {
                    .one-column {
                        display: none;
                    }
                    .nav-sub-menu-lists {
                        width: 100%;
                        text-align: left;
                        display: block;
                        .nav-sub-menu-list {
                            width: 100%;
                            max-width: 100%;
                            a {
                                font-size: 12px;
                                .pt-10();
                                .pb-10();
                            }
                        }
                    }
                }
            }
        }
        .flexslider {
            display: none;
            img {
                display: block;
                max-width: 100%;
            }
        }
    }
    .najnovije-container {
        .pt-50() !important;
    }
}

@media (min-width: 768px) and (max-width: 1204px) {
    .home-slider {
        .owl-item {
            height: 40vh;
            img {
                display: block;
                height: auto;
                left: 50%;
                max-height: none;
                max-width: none;
                min-height: 100%;
                min-width: 100%;
                position: absolute;
                top: 50%;
                -webkit-transform: translate(-50%, -50%);
                -moz-transform: translate(-50%, -50%);
                -ms-transform: translate(-50%, -50%);
                -o-transform: translate(-50%, -50%);
                transform: translate(-50%, -50%);
                width: auto;
            }
        }
    }
    .site-header {
        .header-container {
            height: auto;
            flex-wrap: wrap;
            .site-logo {
                margin-right: 35px;
                float: left;
                margin-bottom: 20px;
            }
        }
        .main-navigation {
            .yith_woocommerce_ajax_search {
                margin-left: 0;
            }
            .widget_search {
              margin-left: 0;
            }
        }
        .site-nav {
            margin-left: 0;
            width: 100%;
            margin-bottom: 20px;
            ul.menu {
                > li {
                    > a {
                        &:first-of-type {
                            padding-left: 0;
                        }
                    }
                }
            }
            .nav-sub-menu {
                .nav-sub-menu-container {
                    h2 {
                        font-size: 100%;
                    }
                    li {
                        a {
                            font-size: 12px;
                        }
                    }
                }
            }
        }
    }
}

@media (min-width: 1205px) and (max-width: 1240px) {
    .site-header {
        .site-logo {
            img {
                width: 180px;
            }
        }
        .site-nav {
            float: left;
            text-align: center;
            ul.menu {
                > li {
                    > a {
                        padding-right: 15px;
                        padding-left: 15px;
                    }
                }
            }
        }
        .main-navigation {
            #yith-ajaxsearchform {
                .yith-s {
                    width: 230px !important;
                }
            }
            .widget_search {
                width: 400px;
            }
        }
    }
}

@media (min-width: 1205px) and (max-width: 1280px) {
    .site-header {
        .site-nav {
            ul.menu {
                >li{
                    >a {
                        font-size: 11px !important;
                    }
                }
            }
        }
    }
}

@media (min-width: 1241px) {
    .site-header {
        .site-nav {
            float: left;
            text-align: center;
            ul.menu {
                > li {
                    > a {
                        padding-right: 10px;
                        padding-left: 10px;
                    }
                }
            }
        }
        .main-navigation {
            .widget_search {
                width: 400px;
            }
        }
    }
}
.dgwt-wcas-search-wrapp {
  min-width:none !important;
  max-width: none !important;
}
