.hvala-container {
    .pt-50();
    height: 100vh;
    h1 {
        font-size: 48px;
        margin-bottom: 50px;
        font-weight: normal;
        color: #4b4b4b;
    }
    p {
        font-size: 14px;
        color: #4b4b4b;
        .hvala-second-paragraph {
            display: inline;
        }
    }
    a {
        display: inline;
        color: #04d7da;
    }
}

@media (max-width: 767px) {
    .hvala-container {
        .pb-50();
        height: auto;
        h1 {
            font-size: 180%;
        }
        .impresum-block {
            h2 {
                font-size: 120%;
            }
        }
    }
}

@media (min-width: 768px) and (max-width: 1240px) {
    .hvala-container {
        height: auto;
        .pb-50();
    }
}
