.impresum-container {
    .pt-50();
    height: 100vh;
    h1 {
        font-size: 48px;
        margin-bottom: 50px;
        color: #4b4b4b;
    }
    .impresum-block {
        .impresum-urednistvo {
            margin-bottom: 50px;
        }
        h2 {
            font-size: 24px;
            color: #f2aa04;
            margin-bottom: 25px;
            strong {
                font-weight: normal;
            }
        }
        p {
            font-size: 14px;
            color: #4b4b4b;
        }
        a {
            display: inline-block;
            margin-bottom: 25px;
            color: #04d7da;
        }
    }
    .impresum-kontakt {
        a {
            margin-bottom: 0;
        }
    }
}


@media (max-width: 767px) {
    .impresum-container {
        .pb-50();
        height: auto;
        h1 {
            font-size: 180%;
        }
        .impresum-block {
            h2 {
                font-size: 120%;
            }
        }
    }
}

@media (min-width: 768px) and (max-width: 1240px) {
    .impresum-container {
        height: auto;
        .pb-50();
    }
}
