.woocommerce-account .woocommerce-MyAccount-content {
    h3 {
        font-size: 24px;
        font-weight: normal;
        color: #f2aa04;
        .pl-20();
        .pr-20();
    }
    .woocommerce-address-fields {
        * {
            padding: 0;
            margin: 0;
        }
        p {
            float: left;
            &,
            &::after,
            &::before {
                content: none;
                clear: none;
            }
            .pl-20();
            .pr-20();
            margin-top: 20px;
            label {
                font-size: 14px;
                color: #4b4b4b;
                .required {
                    color: #4b4b4b;
                }
            }
            input {
                height: 35px;
                background-color: #ebebeb;
                border: none;
                padding: 10px;
            }
            .button {
                color: #fff;
                font-size: 16px;
                font-weight: normal;
                background: linear-gradient(to bottom, #9cf20b, #5bca06);
                padding: 10px 40px;
                border-radius: 10px;
                &::before {
                    content: "\e908";
                    font-family: 'icomoon';
                    margin-right: 10px;
                }
            }
            &,
            &#shipping_first_name_field,
            &#shipping_last_name_field,
            &#shipping_company_field {
                width: calc(100% / 3);
            }
            &#shipping_address_1_field,
            &#shipping_address_2_field,
            &#shipping_city_field,
            &#shipping_postcode_field,
            &#shipping_broj_telefona_field,
            &.email-field {
                width: 50%;
            }
            &#shipping_state_field {
                display: none;
            }
            &#billing_first_name_field,
            &#billing_last_name_field,
            &#billing_company_field {
                width: calc(100% / 3);
            }
            &#billing_address_1_field,
            &#billing_address_2_field,
            &#billing_city_field,
            &#billing_postcode_field,
            &#billing_phone_field,
            &#billing_email_field {
                width: 50%;
            }
            &#billing_state_field {
                display: none;
            }
            &.adresa-button {
                clear: both;
            }
        }
    }
}

@media (max-width: 767px) {
    .woocommerce-account .woocommerce-MyAccount-content {
        .woocommerce-address-fields {
            p {
                padding-left: 0;
                padding-right: 0;
                margin-top: 10px;
                &#shipping_first_name_field,
                &#shipping_last_name_field,
                &#shipping_company_field,
                &#shipping_address_1_field,
                &#shipping_address_2_field,
                &#shipping_city_field,
                &#shipping_postcode_field,
                &#shipping_broj_telefona_field,
                &#shipping_email_field,
                &#shipping_e_mail_field {
                    width: 100%;
                }
                &#billing_first_name_field,
                &#billing_last_name_field,
                &#billing_company_field,
                &#billing_address_1_field,
                &#billing_address_2_field,
                &#billing_city_field,
                &#billing_phone_field,
                &#billing_state_field,
                &#billing_postcode_field,
                &#billing_email_field {
                    width: 100%;
                }
            }
            p.adresa-button {
                margin-bottom: 50px;
                .button {
                    white-space: nowrap;
                }
            }
        }
    }
}

@media (min-width: 768px) and (max-width: 1240px) {
    .woocommerce-account {
        .woocommerce-MyAccount-navigation {
            width: 25% !important;
        }
        .woocommerce-MyAccount-content {
            width: 75% !important;
            .woocommerce-address-fields {
                p.adresa-button {
                    margin-bottom: 50px;
                }
            }
        }
    }
}
