.kategorije-container {
    .pb-70();
    display: flex;
    align-items: flex-start;
    .kategorije-menu {
        padding-top: 130px;
        h2 {
            font-size: 20px;
            color: #f3b015;
            margin-bottom: 35px;
        }
        ul {
            list-style: none;
            li {
                display: block;
                a {
                    font-size: 12px;
                    margin-bottom: 10px;
                    color: #4b4b4b;
                    span {
                        h2 {
                            font-size: 14px;
                        }
                    }
                }
                h2 {
                    font-size: 14px;
                    color: #4b4b4b;
                    display: inline-block;
                    font-family: 'Montserrat' !important;
                    margin-bottom: 0;
                }
                &:hover,
                &:active {
                    a {
                        color: #52c306;
                    }
                    h2 {
                        color: #52c306;
                    }
                }
            }
        }
    }
    .kategorije-select {
        .pt-50();
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        .kategorije-naslov {
            margin-bottom: 25px;
            width: 100%;
            h1 {
                font-size: 48px;
                color: #4b4b4b;
                font-weight: normal;
            }
            .woocommerce-breadcrumb {
                a {
                    display: inline-block;
                    color: #4b4b4b;
                    font-size: 14px;
                }
            }
            .sort-form {
                float: right;
            }
            .term-description {
                float: left;
                padding-top: 15px;
            }
        }
        .kategorije-select-column {
            .pb-50();
            text-align: center;
            img {
                width: 200px;
                min-width: 100%;
                height: auto;
            }
            h2 {
                font-size: 18px;
                font-weight: normal;
                font-family: 'Merriweather';
                text-align: center;
                margin-top: 10px;
                margin-bottom: 5px;
                color: #4b4b4b;
            }
            .price {
                color: #f5bb36;
                del {
                    color: #a0a0a0;
                }
                ins {
                    text-decoration: none;
                }
            }
            .button.product_type_simple.add_to_cart_button.ajax_add_to_cart {
                display: block;
            }
            .button.product_type_simple.ajax_add_to_cart {
                display: none;
            }
        }
    }
}

.knjige-na-akciji-outer-container {
    .knjige-na-akciji-container {
        .knjige-na-akciji-kategorije-naslov {
            display: flex;
            align-items: center;
            margin-bottom: 30px;
        }
    }
}


@media (max-width: 767px) {
    .kategorije-container {
        display: block;
        padding-bottom: 40px;
        .kategorije-menu {
            padding-top: 50px;
            width: 100%;
            .kategorije-heading {
                &::after {
                    content: "\f107";
                    font-family: FontAwesome;
                    margin-left: 15px;
                }
            }
            ul {
                display: none;
            }
        }
        .kategorije-select {
            display: block;
            padding-top: 0;
            .kategorije-naslov {
                margin-bottom: 30px;
                h1 {
                    font-size: 180%;
                    margin-bottom: 10px;
                    float: none;
                    display: block;
                }
            }
            .kategorije-select-column {
                width: 100%;
                padding-bottom: 0;
                margin-bottom: 40px;
                img {
                    min-width: auto;
                }
            }
        }
    }
}

@media (min-width: 768px) and (max-width: 1240px) {
    .kategorije-container {
        padding-bottom: 0;
        .kategorije-select {
            .kategorije-naslov {
                h1 {
                    font-size: 200%;
                    margin-bottom: 10px;
                }
                #main {
                    font-size: 90%;
                    a {
                        font-size: 100%;
                    }
                }
            }
        }
    }
}
