.lost-password-container {
    .pt-50();
    height: 100vh;
    h1 {
        font-size: 48px;
        color: #4b4b4b;
        margin-bottom: 50px;
    }
    .woocommerce-ResetPassword.lost_reset_password {
        p {
            font-size: 14px;
            color: #4b4b4b;
            margin-bottom: 40px;
        }
        input {
            background-color: #ebebeb;
            border: none;
            height: 35px;
        }
        .woocommerce-Button.button {
            color: #fff;
            background: linear-gradient(to bottom, #9cf20b, #5bca06);
            border-radius: 10px;
            height: 35px;
            padding-right: 20px;
            font-size: 16px;
            font-weight: normal;
            padding-left: 20px;
        }
    }
}

@media (max-width: 767px) {
    .lost-password-container {
        height: auto;
        .pb-50();
        h1 {
            font-size: 180%;
        }
    }
}
