.woocommerce-view-order {
    .woocommerce-MyAccount-navigation {
        display: none;
    }
    .one-column.moj-nalog-kontrolna-tabla-naslov {
        display: none;
    }
}

.moj-nalog-kontrolna-tabla-container {
    padding-bottom: 50px;
    padding-top: 50px;
    h1 {
        margin-bottom: 50px;
        font-size: 48px;
        color: #4b4b4b;
    }
}
.woocommerce-MyAccount-navigation {
    padding-left: 20px;
    height: 100vh;
    h1 {
        font-size: 45px;
        color: #4b4b4b;
    }
    ul {
        list-style: none;
        li {
            a {
                color: #4b4b4b;
                font-size: 18px;
                .pb-30();
                &:hover {
                    color: #52c306;
                }
            }
        }
    }
}
.woocommerce-MyAccount-content {
    font-size: 14px;
    color: #4b4b4b;
    p {
        .pb-25();
    }
    a {
        display: inline-block;
        font-size: 14px;
        color: #04d7da;
    }
}


@media (max-width: 767px) {
    .moj-nalog-kontrolna-tabla-container {
        h1 {
            font-size: 180%;
            margin-bottom: 30px;
            &::after {
                content: "\f107";
                font-family: FontAwesome;
                margin-left: 20px;
            }
        }
        .woocommerce-MyAccount-navigation {
            padding-left: 0;
            padding-right: 0;
            width: 100%;
            ul {
                li {
                    a {
                        padding-bottom: 15px;
                    }
                }
            }
        }
        .woocommerce-MyAccount-content {
            padding-left: 0 !important;
            padding-right: 0 !important;
            tr {
                margin-bottom: 40px;
                td {
                    padding: 0;
                }
            }
        }
    }
}

@media (min-width: 768px) and (max-width: 1240px) {
    .woocommerce-MyAccount-navigation {
        width: 50% !important;
        float: left !important;
    }
    .woocommerce-MyAccount-content {
        width: 50% !important;
        float: left !important;
    }
}
