.owl-nav {
    .owl-prev,
    .owl-next {
        background-color: #fff !important;
        opacity: 0.5 !important;
    }
    span {
        display: none;
    }
}

.owl-item {
    position: relative;
    a.added_to_cart.wc-forward {
      display: none !important;
    }
    .price {
        del {
            color: #a0a0a0;
            .woocommerce-Price-amount.amount {
                color: #a0a0a0;
            }
        }
    }
}


.owl-carousel {
  display: none;
  width: 100%;
  -webkit-tap-highlight-color: transparent;
  /* position relative and z-index fix webkit rendering fonts issue */
  position: relative;
  z-index: 1;
  .owl-stage {
      position: relative;
      -ms-touch-action: pan-Y;
      touch-action: manipulation;
      -moz-backface-visibility: hidden;
      /* fix firefox animation glitch */
      &::after {
          content: ".";
          display: block;
          clear: both;
          visibility: hidden;
          line-height: 0;
          height: 0;
      }
  }
  .owl-stage-outer {
      position: relative;
      overflow: hidden;
      /* fix for flashing background */
      -webkit-transform: translate3d(0px, 0px, 0px);
  }
  .owl-wrapper,
  .owl-item {
      -webkit-backface-visibility: hidden;
      -moz-backface-visibility: hidden;
      -ms-backface-visibility: hidden;
      -webkit-transform: translate3d(0, 0, 0);
      -moz-transform: translate3d(0, 0, 0);
      -ms-transform: translate3d(0, 0, 0);
  }
  .owl-item {
      position: relative;
      min-height: 1px;
      float: left;
      -webkit-backface-visibility: hidden;
      -webkit-tap-highlight-color: transparent;
      -webkit-touch-callout: none;
      img {
          display: block;
          width: 100%;
      }
  }
  .owl-nav.disabled,
  .owl-dots.disabled {
      display: none;
  }
  .owl-nav {
      .owl-prev,
      .owl-next {
          cursor: pointer;
          -webkit-user-select: none;
          -khtml-user-select: none;
          -moz-user-select: none;
          -ms-user-select: none;
          user-select: none;
          color: inherit;
          border: none;
          padding: 0 !important;
          font: inherit;
      }
  }
  .owl-dot {
      cursor: pointer;
      -webkit-user-select: none;
      -khtml-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
      color: inherit;
      border: none;
      padding: 0 !important;
      font: inherit;
  }
  &.owl-loaded {
       display: block;
  }
  &.owl-loading {
      opacity: 0;
      display: block;
  }
  &.owl-hidden {
       opacity: 0;
  }
  &.owl-refresh {
      .owl-item {
          visibility: hidden;
      }
  }
  &.owl-drag {
      .owl-item {
          -ms-touch-action: pan-y;
          touch-action: pan-y;
          -webkit-user-select: none;
          -moz-user-select: none;
          -ms-user-select: none;
          user-select: none;
      }
  }
  &.owl-grab {
      cursor: move;
      cursor: grab;
  }
  &.owl-rtl {
      direction: rtl;
      .owl-item {
          float: right;
      }
  }
}

.no-js {
    .owl-carousel {
        display: block;
    }
}

.owl-carousel {
    .animated {
        animation-duration: 1000ms;
        animation-fill-mode: both;
    }
    .owl-animated-in {
        z-index: 0;
    }
    .owl-animated-out {
        z-index: 1;
    }
    .fadeOut {
        animation-name: fadeOut;
    }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.owl-height {
  transition: height 500ms ease-in-out;
}

/*! Owl Carousel - Lazy Load Plugin */

.owl-carousel .owl-item {
  /*! This is introduced due to a bug in IE11 where lazy loading combined with autoheight plugin causes a wrong calculation of the height of the owl-item that breaks page layouts */
}

.owl-carousel {
    .owl-item {
        .owl-lazy {
            opacity: 0;
            transition: opacity 400ms ease;
        }
        img.owl-lazy {
            transform-style: preserve-3d;
        }
    }
    .owl-lazy[src^=""],
    .owl-lazy:not([src]) {
        max-height: 0;
    }
    .owl-video-wrapper {
        position: relative;
        height: 100%;
        background: #000;
    }
    .owl-video-play-icon {
        position: absolute;
        height: 80px;
        width: 80px;
        left: 50%;
        top: 50%;
        margin-left: -40px;
        margin-top: -40px;
        background: url("owl.video.play.png") no-repeat;
        cursor: pointer;
        z-index: 1;
        -webkit-backface-visibility: hidden;
        transition: transform 100ms ease;
        &:hover {
            -ms-transform: scale(1.3, 1.3);
            transform: scale(1.3, 1.3);
        }
    }
    .owl-video-playing {
        .owl-video-tn,
        .owl-video-play-icon {
             display: none;
        }
    }
    .owl-video-tn {
        opacity: 0;
        height: 100%;
        background-position: center center;
        background-repeat: no-repeat;
        background-size: contain;
        transition: opacity 400ms ease;
    }
    .owl-video-frame {
        position: relative;
        z-index: 1;
        height: 100%;
        width: 100%;
    }
}

.owl-theme {
    .owl-nav {
        margin-top: 10px;
        text-align: center;
        -webkit-tap-highlight-color: transparent;
        [class*='owl-'] {
            color: #FFF;
            font-size: 14px;
            margin: 5px;
            padding: 4px 7px;
            background: #D6D6D6;
            display: inline-block;
            cursor: pointer;
            border-radius: 3px;
            &:hover {
                background: #869791;
                color: #FFF;
                text-decoration: none;
            }
        }
        .disabled {
            opacity: 0.5;
            cursor: default;
        }
    }
    .owl-nav.disabled {
        &+.owl-dots {
            margin-top: 10px;
        }
    }
    .owl-dots {
        text-align: center;
        -webkit-tap-highlight-color: transparent;
        .owl-dot {
            display: inline-block;
            zoom: 1;
            *display: inline;
            span {
                width: 10px;
                height: 10px;
                margin: 5px 7px;
                background: #D6D6D6;
                display: block;
                -webkit-backface-visibility: visible;
                transition: opacity 200ms ease;
                border-radius: 30px;
            }
            &:hover {
                span {
                     background: #869791;
                }
            }
        }
        .owl-dot.active {
            span {
                 background: #869791;
            }
        }
    }
}

.owl-theme .owl-nav {
  margin-top: 10px;
  text-align: center;
  -webkit-tap-highlight-color: transparent;
}

.owl-theme .owl-nav [class*='owl-'] {
  color: #FFF;
  font-size: 14px;
  margin: 5px;
  padding: 4px 7px;
  background: #D6D6D6;
  display: inline-block;
  cursor: pointer;
  border-radius: 3px;
}

.owl-theme .owl-nav [class*='owl-']:hover {
  background: #4DC7A0;
  color: #FFF;
  text-decoration: none;
}

.owl-theme .owl-nav .disabled {
  opacity: 0.5;
  cursor: default;
}

.owl-theme .owl-nav.disabled+.owl-dots {
  margin-top: 10px;
}

.owl-theme .owl-dots {
  text-align: center;
  -webkit-tap-highlight-color: transparent;
}

.owl-theme .owl-dots .owl-dot {
  display: inline-block;
  zoom: 1;
  *display: inline;
}

.owl-theme .owl-dots .owl-dot span {
  width: 10px;
  height: 10px;
  margin: 5px 7px;
  background: #D6D6D6;
  display: block;
  -webkit-backface-visibility: visible;
  transition: opacity 200ms ease;
  border-radius: 30px;
}

.owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span {
  background: #4DC7A0;
}

.home-slider {
    overflow: hidden;
}

.owl-dots {
    position: absolute;
    bottom: 0;
    width: 100%;
    left: -50%;
    right: -50%;
    display: inline-block;
    margin: auto;
    text-align: center;
}

.owl-carousel {
    .owl-dots {
        .owl-dot.active {
             background-color: #369;
        }
    }
}

.home-slider {
  margin-right: auto;
  margin-left: auto;
  margin-top: 0px;
  clear: both;
  margin-bottom: 0px;
  display: block;
  text-align: center;
  z-index: 1 !important;
  overflow: hidden;
  padding-bottom: 0px;
  width: 100%;
  position: relative;
  .slides {
      li {
          position: relative;
      }
  }
  img {
      display: block;
      clear: both;
      width: 100%;
      height: auto;
  }
}

.woocommerce-loop-product__link {
    display: table-cell;
    vertical-align: bottom;
}

.owl-carousel-single-image {
    position: relative;
    display: table;
    margin: 0 auto;
    .hidden-article {
        background-color: red;
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        display: flex;
        right: 0;
        transition: all 300ms;
    }
    .inner-hidden-article {
        margin: auto;
    }
    .button.product_type_simple.add_to_cart_button.ajax_add_to_cart {
        content: "\e900";
        font-family: 'icomoon' !important;
        font-size: 0;
        color: #fff;
        &::after {
            content: "\e901";
            font-family: 'icomoon' !important;
            position: relative;
            font-size: 20px;
            top: 5px;
            left: 5px;
            font-weight: normal;
        }
    }
    a {
        display: table-cell;
        vertical-align: bottom;
    }
}
.quick_buy_container {
    //display: none;
}

.owl-dots {
    display: none;
}

.owl-item {
    text-align: center;
}

.woocommerce-Price-amount.amount {
    font-family: 'Merriweather';
}

.naslovna-author-name {
    display: block;
    margin-top: 10px;
    margin-bottom: 10px;
    color: #4b4b4b;
    font-size: 18px;
}

.najnovije-container {
    .pt-90();
    .pb-25();
    h2.najnovije-main-heading {
        font-size: 48px;
        font-weight: normal;
        font-family: @heading-fontFamily;
        color: #4b4b4b;
    }
    .woocommerce-loop-product__title {
        font-size: 18px;
        font-weight: normal;
        font-family: @heading-fontFamily;
        text-align: center;
        margin-top: 5px;
        margin-bottom: 5px;
        color: #4b4b4b;
    }
    .woocommerce-loop-product__link {
        text-align: center;
    }
    img {
        width: 200px !important;
        height: auto;
        margin: 0 auto;
    }
    .button.product_type_simple.add_to_cart_button.ajax_add_to_cart {
        display: none;
    }
    .woocommerce-Price-amount.amount {
        font-size: 14px;
        color: #f2aa04;
    }
    .owl-carousel {
        .owl-nav {
            display: block !important;
            .owl-prev {
                background-image: url("assets/images/control-left.png");
                background-repeat: no-repeat;
                background-position: left 5px center;
                position: absolute;
                top: 35%;
                left: 0;
                color: transparent;
                margin: 0 !important;
                background-color: #fff;
                opacity: 0.5;
                display: block;
                z-index: 9999;
                width: 50px;
                height: 100px;
                border-bottom-right-radius: 100px;
                border-top-right-radius: 100px;
                transition: all 0.2s ease 0s;
                &:hover {
                    background-color: #fff !important;
                    background-image: url("assets/images/control-left.png");
                    background-repeat: no-repeat;
                    background-position: left 5px center;
                    opacity: 1 !important;
                }
            }
            .owl-next {
                position: absolute;
                background-image: url("assets/images/control-right.png");
                background-position: right 5px center;
                background-repeat: no-repeat;
                top: 35%;
                right: 0;
                color: transparent;
                margin: 0 !important;
                background-color: #fff;
                opacity: 0.5;
                display: block;
                z-index: 9999;
                height: 100px;
                width: 50px;
                border-bottom-left-radius: 100px;
                border-top-left-radius: 100px;
                transition: all 0.2s ease 0s;
                &:hover {
                    background-color: #fff !important;
                    background-image: url("assets/images/control-right.png");
                    background-position: right 5px center;
                    background-repeat: no-repeat;
                    opacity: 1 !important;
                }
            }
        }
    }
    .button.product_type_simple.ajax_add_to_cart {
        display: block !important;
    }
    .woocommerce-pagination {
        display: none;
    }
}

.popularno-container {
    .pt-30();
    .pb-25();
    h2 {
        font-size: 48px;
        font-weight: normal;
        font-family: @heading-fontFamily;
        color: #4b4b4b;
    }
    .woocommerce-loop-product__title {
        font-size: 18px;
        font-weight: normal;
        font-family: @heading-fontFamily;
        text-align: center;
        margin-top: 5px;
        margin-bottom: 5px;
        color: #4b4b4b;
    }
    .woocommerce-loop-product__link {
        text-align: center;
    }
    img {
        width: 200px !important;
        height: auto;
        margin: 0 auto;
    }
    .button.product_type_simple.add_to_cart_button.ajax_add_to_cart {
        display: block;
    }
    .woocommerce-Price-amount.amount {
        font-size: 14px;
        color: #f2aa04;
    }
    .owl-carousel {
        .owl-nav {
            display: block !important;
            .owl-prev {
                position: absolute;
                background-image: url("assets/images/control-left.png");
                background-repeat: no-repeat;
                background-position: left 5px center;
                top: 35%;
                left: 0;
                color: transparent;
                margin: 0 !important;
                background-color: #fff;
                opacity: 0.5;
                display: block;
                z-index: 9999;
                width: 50px;
                height: 100px;
                border-bottom-right-radius: 100px;
                border-top-right-radius: 100px;
                transition: all 0.2s ease 0s;
                &:hover {
                    background-color: #fff !important;
                    background-image: url("assets/images/control-left.png");
                    background-repeat: no-repeat;
                    background-position: left 5px center;
                    opacity: 1 !important;
                }
            }
            .owl-next {
                position: absolute;
                transform: translateY(-50%);
                background-image: url("assets/images/control-right.png");
                background-position: right 5px center;
                background-repeat: no-repeat;
                top: 35%;
                right: 0;
                color: transparent;
                margin: 0 !important;
                background-color: #fff;
                opacity: 0.5;
                display: block;
                z-index: 9999;
                height: 100px;
                width: 50px;
                border-bottom-left-radius: 100px;
                border-top-left-radius: 100px;
                transition: all 0.2s ease 0s;
                &:hover {
                    background-color: #fff !important;
                    opacity: 1 !important;
                    background-image: url("assets/images/control-right.png");
                    background-position: right 5px center;
                    background-repeat: no-repeat;
                }
            }
        }
    }
    .woocommerce-pagination {
        display: none;
    }
}

.preporucujemo-container {
    .pt-25();
    .pb-25();
    h2 {
        font-size: 48px;
        font-weight: normal;
        font-family: @heading-fontFamily;
        color: #4b4b4b;
    }
    .woocommerce-loop-product__title {
        font-size: 18px;
        font-weight: normal;
        font-family: @heading-fontFamily;
        text-align: center;
        margin-top: 5px;
        margin-bottom: 5px;
        color: #4b4b4b;
    }
    .woocommerce-loop-product__link {
        text-align: center;
    }
    img {
        width: 200px !important;
        height: auto;
        margin: 0 auto;
    }
    .button.product_type_simple.add_to_cart_button.ajax_add_to_cart {
        display: block !important;
    }
    .woocommerce-Price-amount.amount {
        font-size: 14px;
        color: #f2aa04;
    }
    .owl-carousel {
        .owl-nav {
            display: block !important;
            .owl-prev {
                background-image: url("assets/images/control-left.png");
                background-repeat: no-repeat;
                background-position: left 5px center;
                position: absolute;
                top: 35%;
                left: 0;
                color: transparent;
                margin: 0 !important;
                background-color: #fff;
                opacity: 0.5;
                display: block;
                z-index: 9999;
                width: 50px;
                height: 100px;
                border-bottom-right-radius: 100px;
                border-top-right-radius: 100px;
                transition: all 0.2s ease 0s;
                &:hover {
                    background-color: #fff !important;
                    background-image: url("assets/images/control-left.png");
                    background-repeat: no-repeat;
                    background-position: left 5px center;
                    opacity: 1 !important;
                }
            }
            .owl-next {
                position: absolute;
                top: 35%;
                right: 0;
                background-image: url("assets/images/control-right.png");
                background-position: right 5px center;
                background-repeat: no-repeat;
                color: transparent;
                margin: 0 !important;
                background-color: #fff;
                opacity: 0.5;
                display: block;
                z-index: 9999;
                height: 100px;
                width: 50px;
                border-bottom-left-radius: 100px;
                border-top-left-radius: 100px;
                transition: all 0.2s ease 0s;
                &:hover {
                    background-color: #fff !important;
                    opacity: 1 !important;
                    background-image: url("assets/images/control-right.png");
                    background-position: right 5px center;
                    background-repeat: no-repeat;
                }
            }
        }
    }
    .woocommerce-pagination {
        display: none;
    }
}

.knjige-na-akciji-outer-container {
    .pt-50();
    .pb-50();
    background-color: #ca090e;
    .knjige-na-akciji-container {
        h2 {
            font-size: 48px;
            font-weight: normal;
            font-family: @heading-fontFamily;
            color: #fff;
        }
        .woocommerce-loop-product__link {
            text-align: center;
        }
        img {
            width: 200px !important;
            height: auto;
            margin: 0 auto;
        }
        .button.product_type_simple.add_to_cart_button.ajax_add_to_cart {
            display: block !important;
        }
        .woocommerce-Price-amount.amount {
            font-size: 14px;
            color: #f2aa04;
        }
        .woocommerce-loop-product__title {
            font-size: 18px;
            font-weight: normal;
            font-family: @heading-fontFamily;
            text-align: center;
            margin-top: 5px;
            color: #fff;
            margin-bottom: 5px;
        }
        .naslovna-author-name {
            color: #fff;
        }
        .owl-carousel {
            .owl-nav {
                display: block !important;
                .owl-prev {
                    position: absolute;
                    background-image: url("assets/images/control-left.png");
                    background-repeat: no-repeat;
                    background-position: left 5px center;
                    top: 35%;
                    left: 0;
                    color: transparent;
                    margin: 0 !important;
                    background-color: #fff;
                    opacity: 0.5;
                    display: block;
                    z-index: 9999;
                    width: 50px;
                    height: 100px;
                    border-bottom-right-radius: 100px;
                    border-top-right-radius: 100px;
                    transition: all 0.2s ease 0s;
                    &:hover {
                        background-color: #fff !important;
                        background-image: url("assets/images/control-left.png");
                        background-repeat: no-repeat;
                        background-position: left 5px center;
                        opacity: 1 !important;
                    }
                }
                .owl-next {
                    position: absolute;
                    background-image: url("assets/images/control-right.png");
                    background-position: right 5px center;
                    background-repeat: no-repeat;
                    top: 35%;
                    right: 0;
                    color: transparent;
                    margin: 0 !important;
                    background-color: #fff;
                    opacity: 0.5;
                    display: block;
                    z-index: 9999;
                    height: 100px;
                    width: 50px;
                    border-bottom-left-radius: 100px;
                    border-top-left-radius: 100px;
                    transition: all 0.2s ease 0s;
                    &:hover {
                        background-color: #fff !important;
                        opacity: 1 !important;
                        background-image: url("assets/images/control-right.png");
                        background-position: right 5px center;
                        background-repeat: no-repeat;
                    }
                }
            }
        }
    }
    .woocommerce-pagination {
        display: none;
    }
}

.vesti-container {
    .pt-50();
    padding-bottom: 260px;
    h2 {
        font-size: 48px;
        font-weight: normal;
        padding-left: 20px;
        font-size: 48px;
        color: #2a2a2a;
        margin-left: 0 !important;
        font-weight: normal;
        font-family: @heading-fontFamily;
        margin-left: 0;
    }
    .pogledaj-sve {
        margin-right: 30px !important;
    }
    .vesti-columns {
        display: flex;
        flex-wrap: wrap;
        .vesti-column {
            margin-bottom: 20px;
            .posts-info {
                margin-top: 15px;
                margin-bottom: 10px;
                font-size: 12px;
            }
            h3 {
                margin-bottom: 20px;
                color: #f2aa04;
                font-size: 18px;
                font-family: @heading-fontFamily;
            }
            p {
                margin-bottom: 20px;
                color: #4b4b4b;
                font-size: 14px;
            }
            a {
                font-size: 14px;
                color: #04d7da;
            }
        }
    }
}

.vec-ste-gledali {
    ul.product_list_widget  {
        .owl-nav {
            display: block !important;
            .owl-prev {
                background-image: url("assets/images/control-left.png");
                background-repeat: no-repeat;
                background-position: left 5px center;
                position: absolute;
                top: 35%;
                left: 0;
                color: transparent;
                margin: 0 !important;
                background-color: #fff;
                opacity: 0.5;
                display: block;
                z-index: 9999;
                width: 50px;
                height: 100px;
                border-bottom-right-radius: 100px;
                border-top-right-radius: 100px;
                transition: all 0.2s ease 0s;
                &:hover {
                    background-color: #fff !important;
                    background-image: url("assets/images/control-left.png");
                    background-repeat: no-repeat;
                    background-position: left 5px center;
                    opacity: 1 !important;
                }
            }
            .owl-next {
                position: absolute;
                background-image: url("assets/images/control-right.png");
                background-position: right 5px center;
                background-repeat: no-repeat;
                top: 35%;
                right: 0;
                color: transparent;
                margin: 0 !important;
                background-color: #fff;
                opacity: 0.5;
                display: block;
                z-index: 9999;
                height: 100px;
                width: 50px;
                border-bottom-left-radius: 100px;
                border-top-left-radius: 100px;
                transition: all 0.2s ease 0s;
                &:hover {
                    background-color: #fff !important;
                    background-image: url("assets/images/control-right.png");
                    background-position: right 5px center;
                    background-repeat: no-repeat;
                    opacity: 1 !important;
                }
            }
        }
    }
}

@media (max-width: 767px) {
    .owl-item {
        img {
            display: table !important;
            margin: 0 auto !important;
            max-width: 100% !important;
        }
    }
    .owl-dots {
        display: none;
    }
    .home-slider {
        .owl-item {
            height: 30vh;
        }
        img {
            display: block;
            height: auto;
            left: 50%;
            max-height: none;
            max-width: none;
            min-height: 100%;
            min-width: 100%;
            position: absolute;
            top: 50%;
            -webkit-transform: translate(-50%, -50%);
            -moz-transform: translate(-50%, -50%);
            -ms-transform: translate(-50%, -50%);
            -o-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
            width: auto;
        }
    }
    .najnovije-container {
        h2.najnovije-main-heading {
            font-size: 180%;
            text-align: center;
        }
        .owl-carousel {
            .owl-nav {
                .owl-prev {
                    width: 35px;
                    height: 75px;
                    opacity: 1;
                }
                .owl-next {
                    width: 35px;
                    height: 75px;
                    opacity: 1;
                }
            }
        }
    }

    .popularno-container {
        padding-bottom: 0;
        h2 {
            font-size: 180%;
            text-align: center;
        }
        .owl-carousel {
            .owl-nav {
                .owl-prev {
                    width: 35px;
                    height: 75px;
                    opacity: 1;
                }
                .owl-next {
                    width: 35px;
                    opacity: 1;
                    height: 75px;
                }
            }
        }
    }

    .preporucujemo-container {
        padding-top: 0;
        h2 {
            font-size: 180%;
            text-align: center;
        }
        .owl-carousel {
            .owl-nav {
                .owl-prev {
                    width: 35px;
                    height: 75px;
                    opacity: 1;
                }
                .owl-next {
                    width: 35px;
                    height: 75px;
                    opacity: 1;
                }
            }
        }
    }

    .knjige-na-akciji-outer-container {
        .knjige-na-akciji-container {
            .knjige-na-akciji-kategorije-naslov {
                display: block !important;
                text-align: center;
            }
            h2 {
                font-size: 180%;
                text-align: center;
                margin-bottom: 20px;
            }
            .pogledaj-sve {
                margin-right: 0;
            }
            .owl-carousel {
                .owl-nav {
                    .owl-prev {
                        width: 35px;
                        height: 75px;
                    }
                    .owl-next {
                        width: 35px;
                        height: 75px;
                    }
                }
            }
            .button.product_type_simple.add_to_cart_button.ajax_add_to_cart {
                margin-right: 0 !important;
            }
        }
    }

    .vesti-container {
        padding-bottom: 50px;
        h2 {
            font-size: 180%;
            text-align: center;
        }
        .four-columns {
            padding-left: 0;
            padding-right: 0;
        }
        .vesti-columns {
            display: block;
            .vesti-column {
                width: 100%;
                margin-bottom: 50px;
                .posts-info {
                    margin-top: 5px;
                    margin-bottom: 10px;
                }
                h3 {
                    margin-bottom: 10px;
                    font-size: 90%;
                }
                p {
                    margin-bottom: 10px;
                    font-size: 80%
                }
            }
        }
    }
}

@media (min-width: 768px) and (max-width: 1240px) {
    .owl-item {
        .owl-carousel-single-image {
            margin: 0 auto;
        }
        img {
            display: table !important;
            margin: 0 auto !important;
        }
    }
    .owl-dots {
        display: none;
    }
    .najnovije-container {
        h2.najnovije-main-heading {
            text-align: center;
        }
    }
    .vesti-container {
        padding-bottom: 80px;
        .pogledaj-sve {
            margin-right: 0 !important;
        }
        .four-columns {
            width: 50%;
        }
        a {
            img {
                width: 100%;
            }
        }
    }
}
