.woocommerce-account {
    .woocommerce-MyAccount-navigation {
        width: calc(100% / 6);
        .pr-20();
    }
    .woocommerce-MyAccount-content {
        width: calc(100% / 6 * 5);
        .pr-20();
        .pl-20();
        h2 {
            margin-bottom: 50px;
            font-size: 24px;
            color: #f2aa04;
        }
        .woocommerce-orders-table.woocommerce-MyAccount-orders.shop_table.shop_table_responsive.my_account_orders.account-orders-table {
            border: none;
            th {
                color: #4b4b4b;
                font-size: 18px;
                font-weight: normal;
                border-bottom: 1px solid rgba(0,0,0,.1);
            }
            td {
                padding-top: 20px;
                border: none;
                padding-bottom: 0;
                font-size: 14px;
                .woocommerce-button.button.view {
                    font-size: 12px;
                    color: #fff;
                    .pt-10();
                    .pb-10();
                    .pl-20();
                    .pr-20();
                    border-radius: 10px;
                    background: linear-gradient(to bottom, #fade06, #f2ac04);
                    &::before {
                        content: "\e90c";
                        font-family: 'icomoon' !important;
                        margin-right: 10px;
                    }
                }
            }
        }
    }
}

@media (max-width: 767px) {
    .woocommerce-account {
        .woocommerce-MyAccount-navigation {
            width: 100%;
            height: auto;
            margin-bottom: 50px;
        }
        .woocommerce-MyAccount-content {
            width: 100%;
            h2 {
                margin-bottom: 30px;
            }
        }
    }
}

@media (min-width: 768px) and (max-width: 1240px) {
    .woocommerce-account {
        .woocommerce-MyAccount-navigation {
            width: 40% !important;
        }
        .woocommerce-MyAccount-content {
            width: 60% !important;
        }
    }
}
