.chipcard-transaction-title {
    margin-bottom: 30px;
    font-family: Montserrat;
}
.chipcard-transaction-info {
    list-style: none;
    margin-bottom: 12px;
    -moz-column-count: 2;
    -moz-column-gap: 20px;
    -webkit-column-count: 2;
    -webkit-column-gap: 20px;
    column-count: 2;
    column-gap: 20px;
    li {
        margin-bottom: 18px;
    }
    .chipcard-transaction-key {
        font-size: 14px;
    }
    .chipcard-transaction-value {
        color: #f2aa04;
    }
}
.view-order-container.container {
    margin-top: 50px;
    height: 100vh;
    margin-bottom: 50px;
    .view-order-naslov {
        margin-bottom: 50px;
        margin-top: 0;
        h1 {
            font-size: 48px;
            color: #4b4b4b;
            margin-top: 0;
        }
    }
    .view-order-details {
        width: calc(100% / 6 * 4);
        float: left;
        table {
            p {
                display: block !important;
            }
            border-collapse: collapse;
            width: 100%;
            th {
                background-color: #f2aa04;
                padding: 20px;
                font-family: 'Merriweather';
                font-weight: normal;
                span.first-span {
                    font-size: 24px;
                    color: #fff;
                    margin-bottom: 10px;
                }
                span {
                    font-size: 14px;
                    color: #fff;
                }
            }
            tr {
                position: relative;
                &.opis-porudzbine {
                    font-size: 18px;
                    color: #4b4b4b;
                    border-bottom: 1px solid #ccc;
                    td {
                        vertical-align: bottom;
                        padding-top: 65px;
                        &.cena {
                            text-align: right;
                        }
                        &.ukupno {
                            text-align: right;
                        }
                        &.kolicina {
                            text-align: center;
                        }
                    }
                }
                td {
                    padding-bottom: 10px;
                    margin-top: 10px;
                    &.table-inner-price {
                        text-align: right;
                        font-size: 16px;
                    }
                    &.table-inner-kolicina {
                        text-align: center;
                        font-size: 16px;
                    }
                    &.table-inner-ukupno {
                        text-align: right;
                        font-size: 16px;
                    }
                    &.table-inner-image {
                        display: flex;
                        a {
                          margin-right: 10px;
                        }
                        img {
                            width: 40px;
                            height: 65px;
                        }
                        a {
                            font-size: 16px;
                            color: #4b4b4b;
                        }
                    }
                }
                &:last-of-type {
                    .table-inner-image,
                    .table-inner-price,
                    .table-inner-kolicina,
                    .table-inner-ukupno {
                        border-bottom: 1px solid #ccc !important;
                    }
                }
            }
        }
        .detalji-narudzbine-ukupno {
            margin-bottom: 50px;
            margin-top: 40px;
            float: right;
            table {
                p {
                    display: block !important;
                }
                tr {
                    &::after {
                        width: 0;
                    }
                    &.shipping {
                        th {
                            color: #4b4b4b;
                            font-size: 14px;
                            font-weight: normal;
                            background-color: transparent;
                            padding: 0;
                            vertical-align: top;
                        }
                        td {
                            vertical-align: top;
                            font-size: 0;
                            span {
                                font-size: 18px;
                                color: #4b4b4b;
                            }
                        }
                    }
                    &.cena-dostava {
                        td {
                            vertical-align: top;
                            span {
                                font-size: 10px;
                                color: #949494;
                            }
                        }
                    }
                    .cena-dostava {
                        .woocommerce-Price-amount {
                            font-size: 18px;
                            font-weight: bold;
                            color: #4b4b4b;
                            .woocommerce-Price-currencySymbol {
                                font-size: 18px;
                                font-weight: bold;
                                color: #4b4b4b;
                                display: inline-block;
                            }
                        }
                    }
                }
                td {
                    text-align: right;
                    &.vrednost,
                    &.dostava,
                    &.ukupno-ukupno {
                        font-size: 14px;
                        color: #4b4b4b;
                        vertical-align: top;
                    }
                    &.tezina {
                        vertical-align: top;
                    }
                    &.suma-ukupno {
                        color: #f2aa04;
                        font-size: 24px;
                        .woocommerce-Price-amount.amount {
                            display: block;
                            font-size: 24px;
                            color: #f2aa04;
                        }
                        .woocommerce-Price-currencySymbol {
                            font-size: 24px;
                            color: #f2aa04;
                        }
                        .informacija {
                            font-size: 10px;
                            display: block;
                            color: #4b4b4b;
                        }
                    }
                    &.cena-dostave,
                    &.cena-knjiga {
                        font-size: 18px;
                        span {
                            color: #4b4b4b;
                        }
                    }
                    &.cena-dostave {
                        vertical-align: top;
                        .informacija {
                            display: block;
                            font-size: 10px;
                            color: #4b4b4b;
                            font-weight: normal !important;
                        }
                    }
                    &.dostava {
                        vertical-align: top;
                    }
                    &.vrednost
                    &.cena-knjiga {
                        vertical-align: bottom;
                    }
                    &.vrednost,
                    &.dostava-text,
                    &.ukupno-ukupno {
                        padding-right: 55px;
                        .informacija {
                            display: block;
                        }
                    }
                    &.cena-dostava {
                        font-size: 18px;
                        .informacija {
                            font-size: 10px;
                            display: block;
                            color: #4b4b4b;
                        }
                        .woocommerce-Price-currencySymbol {
                            font-weight: normal !important;
                        }
                        .woocommerce-Price-amount.amount {
                            font-weight: normal !important;
                        }
                    }
                    &.dostava-text {
                        vertical-align: top;
                        color: #4b4b4b;
                    }
                }
            }
        }
        .shipped_via {
            display: none;
        }
    }

    .view-order-address {
        width: calc(100% / 3);
        float: left;
        padding-left: 80px;
        .adresa-za-isporuku {
            display: block;
            width: 100%;
            float: none;
            margin-bottom: 50px;
            h2 {
                margin-bottom: 25px;
                font-size: 24px;
                color: #f2aa04;
            }
            p {
                font-size: 16px;
                color: #4b4b4b;
                display: block !important;
            }
            .telefon-email {
                margin-top: 35px;
            }
        }
        .adresa-za-naplatu {
            display: block;
            width: 100%;
            float: none;
            h2 {
                margin-bottom: 25px;
                font-size: 24px;
                color: #f2aa04;
            }
            p {
                font-size: 16px;
                color: #4b4b4b;
                display: block !important;
            }
            .telefon-email {
                margin-top: 35px;
            }
        }
    }
}

.woocommerce-order {
    .woocommerce-notice.woocommerce-notice--success.woocommerce-thankyou-order-received,
    .woocommerce-order-overview.woocommerce-thankyou-order-details.order_details,
    p {
        display: none;
    }
}


@media (max-width: 767px) {
    .view-order-container.container {
        height: auto;
        .view-order-naslov {
            h1 {
                font-size: 180%;
            }
        }
        .chipcard-transaction-info {
            -moz-column-count: 1;
            -moz-column-gap: 20px;
            -webkit-column-count:  1;
            -webkit-column-gap: 20px;
            column-count: 1;
            column-gap: 20px;
        }
        .view-order-details {
            width: 100% !important;
            float: none;
            display: block;
            table {
                th {
                    display: block;
                    margin-bottom: 5px;
                    padding: 5px;
                    span {
                        &:first-of-type {
                            font-size: 120%;
                        }
                        font-size: 80%;
                    }
                }
                .opis-porudzbine {
                    display: none;
                }
                td {
                    display: block;
                    text-align: left !important;
                }
            }
            .detalji-narudzbine-ukupno {
                float: none;
            }
        }
        .view-order-address {
            width: 100%;
            float: none;
            padding-left: 0;
        }
    }
}

@media (min-width: 768px) and (max-width: 1240px) {
    .view-order-container.container {
        height: auto;
        .view-order-details {
            width: 100%;
            float: none;
            .detalji-narudzbine-ukupno {
                float: none;
            }
        }
        .view-order-address {
            width: 100%;
            float: none;
            padding-left: 0;
        }
    }
}
