.politika-privatnosti-container {
    .pt-50();
    height: 100vh;
    h1 {
        font-size: 48px;
        margin-bottom: 50px;
        color: #4b4b4b;
    }
    h2 {
        color: #f2aa04;
        margin-bottom: 30px;
        strong {
            font-weight: normal;
        }
    }
    p {
        font-size: 14px;
        color: #4b4b4b;
    }
    a {
        display: inline-block;
        color: #04d7da;
    }
}

@media (max-width:767px) {
    .politika-privatnosti-container {
        height: auto;
        .pb-50();
        h1 {
            font-size: 180%;
        }
    }
}
