.search-results-container {
    padding-top: 55px;
    padding-bottom: 100px;
    .woocommerce-products-header {
      display: block;
      margin-bottom: 30px;
    }
    .button.product_type_simple.add_to_cart_button.ajax_add_to_cart {
        content: "\e900";
        font-family: 'icomoon' !important;
        position: absolute;
        right: 0;
        bottom: 0;
        font-size: 0;
        height: 66px;
        padding: 0;
        width: 66px;
        background-color: transparent;
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
        border-top-right-radius: 0;
        border-top: 33px solid transparent;
        border-bottom: 33px solid #04d7da;
        border-left: 33px solid transparent;
        border-right: 33px solid #04d7da;
        color: #fff;
        &::after {
            content: "\e901";
            font-family: 'icomoon' !important;
            position: relative;
            font-size: 20px;
            top: 5px;
            left: 5px;
            font-weight: normal;
        }
    }
    .search-result-item-photo {
      position: relative;
      height: 100%;
      display: table;
      width: 100%;
      > a {
        &:first-of-type {
          display: table-cell;
          vertical-align: bottom;
          img {
            width: 100%;
          }
        }
      }
    }
    img {
        width: auto;
        display: table-cell;
        vertical-align: bottom;
    }
    h1 {
        color: #4b4b4b;
        font-size: 48px;
        float: left;
        span {
            font-size: 14px;
            display: block;
        }
    }
    .sort-form {
      float: right;
    }
    .search-results-item {
        float: left;
        margin-bottom: 50px;
        text-align: center;
        position: relative;
        .price {
            font-family: 'Merriweather';
            color: #f5bb36;
        }
    }
    .empty-results {
        padding-left: 20px;
        padding-right: 20px;
        margin-top: 30px;
    }
}

@media (max-width: 767px) {
    .search-results-container {
        padding-bottom: 50px;
        .woocommerce-products-header {
            margin-bottom: 40px;
        }
        .sort-form {
          float: none;
          .orderby {
            max-width: 95%;
          }
        }
        h1 {
            float: none;
            margin-bottom: 10px;
            font-size: 200%;
        }

        .search-results-item {
            float: none;
            width: 100%;
            display: block;
            &:last-of-type {
                margin-bottom: 0;
            }
        }
    }
}
