.single-vest-container {
    .pt-50();
    .pb-50();
    display: flex;
    .single-vest-content {
        padding-left: 15px;
        padding-right: 15px;
        width: 75%;
        .single-vest-date.one-column {
            font-size: 12px;
            color: #f2aa04;
            margin-bottom: 20px;
        }
        .single-vest-naslov {
            margin-bottom: 40px;
            h1 {
                color: #4b4b4b;
                font-size: 48px;
            }
        }
        .single-vest-content-inner {
            .pl-20();
            .pr-20();
            .single-vest-content-inner-text {
                p {
                    color: #4b4b4b;
                    font-size: 14px;
                    margin-bottom: 20px;
                    margin-top: 20px;
                }
                a {
                    color: #04d7da;
                    display: inline-block;
                }
            }
        }
        .alignleft {
            text-align: center;
            margin-top: 80px;
            float: left;
            margin-right: 20px;
            &:nth-of-type(4) {
                margin-right: 0;
            }
            img {
                width: 100%;
                max-width: 100%;
            }
            .alignleft-text {
                margin-top: 10px;
            }
        }
        .alignnone {
            margin-bottom: 50px;
        }
        .single-vest-image {
            float: left;
            .pr-20();
            img {
                max-width: 100%;
            }
        }
    }
    .single-vest-sidebar {
        padding-left: 15px;
        padding-right: 15px;
        width: 25%;
        .top-knjige-column {
            list-style: none;
            padding-top: 100px;
            width: 100%;
            h2 {
                font-size: 24px;
                font-weight: normal;
                padding-left: 0;
                margin-bottom: 20px;
            }
            .top-knjige-single {
                border-bottom: 1px solid #acacac;
                padding-bottom: 10px;
                padding-top: 10px;
                position: relative;
                &:nth-of-type(1) {
                    &::before {
                        content: '1.';
                        position: absolute;
                        top: 20%;
                        right: 105%;
                        color: #f3b015;
                        font-size: 30px;
                        font-family: 'Merriweather';
                    }
                }
                &:nth-of-type(2) {
                    &::before {
                        content: '2.';
                        position: absolute;
                        top: 20%;
                        right: 105%;
                        color: #f3b015;
                        font-size: 30px;
                        font-family: 'Merriweather';
                    }
                }
                &:nth-of-type(3) {
                    &::before {
                        content: '3.';
                        position: absolute;
                        top: 20%;
                        right: 105%;
                        color: #f3b015;
                        font-size: 30px;
                        font-family: 'Merriweather';
                    }
                }
                &:nth-of-type(4) {
                    &::before {
                        content: '4.';
                        position: absolute;
                        top: 20%;
                        right: 105%;
                        color: #f3b015;
                        font-size: 30px;
                        font-family: 'Merriweather';
                    }
                }
                &:nth-of-type(5) {
                    &::before {
                        content: '5.';
                        position: absolute;
                        top: 20%;
                        right: 105%;
                        color: #f3b015;
                        font-size: 30px;
                        font-family: 'Merriweather';
                    }
                }
                &:nth-of-type(6) {
                    &::before {
                        content: '6.';
                        position: absolute;
                        top: 20%;
                        right: 105%;
                        color: #f3b015;
                        font-size: 30px;
                        font-family: 'Merriweather';
                    }
                }
                &:nth-of-type(7) {
                    &::before {
                        content: '7.';
                        position: absolute;
                        top: 20%;
                        right: 105%;
                        color: #f3b015;
                        font-size: 30px;
                        font-family: 'Merriweather';
                    }
                }
                &:nth-of-type(8) {
                    &::before {
                        content: '8.';
                        position: absolute;
                        top: 20%;
                        right: 105%;
                        color: #f3b015;
                        font-size: 30px;
                        font-family: 'Merriweather';
                    }
                }
                &:nth-of-type(9) {
                    &::before {
                        content: '9.';
                        position: absolute;
                        top: 20%;
                        right: 105%;
                        color: #f3b015;
                        font-size: 30px;
                        font-family: 'Merriweather';
                    }
                }
                &:nth-of-type(10) {
                    &::before {
                        content: '10.';
                        position: absolute;
                        top: 20%;
                        right: 105%;
                        color: #f3b015;
                        font-size: 30px;
                        font-family: 'Merriweather';
                    }
                }
                .woocommerce-LoopProduct-link.woocommerce-loop-product__link {
                    display: flex;
                    img {
                        width: 40px;
                        height: 65px
                    }
                    .top-knjige-single-inner {
                        margin-left: 20px;
                        .top-knjige-autor {
                            font-size: 12px;
                            color: #4b4b4b;
                        }
                        h2 {
                            font-size: 18px;
                            color: #f3b015;
                            padding-left: 0;
                        }
                    }
                }
            }
        }
    }
}


@media (max-width: 767px) {
    .single-vest-container {
        display: block;
        .single-vest-content {
            padding-left: 0;
            page-break-after: 0;
            width: 100%;
            .single-vest-naslov {
                h1 {
                    font-size: 180%;
                }
            }
            .single-vest-image {
                float: none;
                margin-bottom: 40px;
                padding-right: 0;
                img {
                    max-width: 100%;
                    padding-right: 0;
                }
            }
            .alignleft {
                float: none;
                margin-top: 40px;
                margin-right: 0;
                width: auto !important;
            }
        }
        .single-vest-content-inner {
            padding-left: 0 !important;
            padding-right: 0 !important;
        }

        .single-vest-sidebar {
            width: 100%;
            .top-knjige-column {
                padding-top: 0;
                margin-top: 40px;
                h2 {
                    margin-left: 0;
                }
                .top-knjige-single {
                    &:nth-of-type(1) {
                        &::before {
                            content: '1.';
                            position: absolute;
                            top: 20%;
                            left: -30px;
                            font-size: 20px !important;
                            color: #f3b015;
                            font-size: 30px;
                            font-family: 'Merriweather';
                        }
                    }
                    &:nth-of-type(2) {
                        &::before {
                            content: '2.';
                            position: absolute;
                            top: 20%;
                            left: -30px;
                            font-size: 20px !important;
                            color: #f3b015;
                            font-size: 30px;
                            font-family: 'Merriweather';
                        }
                    }
                    &:nth-of-type(3) {
                        &::before {
                            content: '3.';
                            position: absolute;
                            top: 20%;
                            left: -30px;
                            font-size: 20px !important;
                            color: #f3b015;
                            font-size: 30px;
                            font-family: 'Merriweather';
                        }
                    }
                    &:nth-of-type(4) {
                        &::before {
                            content: '4.';
                            position: absolute;
                            top: 20%;
                            left: -30px;
                            font-size: 20px !important;
                            color: #f3b015;
                            font-size: 30px;
                            font-family: 'Merriweather';
                        }
                    }
                    &:nth-of-type(5) {
                        &::before {
                            content: '5.';
                            position: absolute;
                            top: 20%;
                            left: -30px;
                            font-size: 20px !important;
                            color: #f3b015;
                            font-size: 30px;
                            font-family: 'Merriweather';
                        }
                    }
                    &:nth-of-type(6) {
                        &::before {
                            content: '6.';
                            position: absolute;
                            top: 20%;
                            left: -30px;
                            font-size: 20px !important;
                            color: #f3b015;
                            font-size: 30px;
                            font-family: 'Merriweather';
                        }
                    }
                    &:nth-of-type(7) {
                        &::before {
                            content: '7.';
                            position: absolute;
                            top: 20%;
                            left: -30px;
                            font-size: 20px !important;
                            color: #f3b015;
                            font-size: 30px;
                            font-family: 'Merriweather';
                        }
                    }
                    &:nth-of-type(8) {
                        &::before {
                            content: '8.';
                            position: absolute;
                            top: 20%;
                            left: -30px;
                            font-size: 20px !important;
                            color: #f3b015;
                            font-size: 30px;
                            font-family: 'Merriweather';
                        }
                    }
                    &:nth-of-type(9) {
                        &::before {
                            content: '9.';
                            position: absolute;
                            top: 20%;
                            left: -30px;
                            font-size: 20px !important;
                            color: #f3b015;
                            font-size: 30px;
                            font-family: 'Merriweather';
                        }
                    }
                    &:nth-of-type(10) {
                        &::before {
                            content: '10.';
                            position: absolute;
                            top: 20%;
                            left: -30px;
                            font-size: 20px !important;
                            color: #f3b015;
                            font-size: 30px;
                            font-family: 'Merriweather';
                        }
                    }
                }
            }
        }
    }
}

@media (min-width: 768px) and (max-width: 1240px) {
    .single-vest-container {
        .single-vest-sidebar {
            padding-left: 5px;
            .top-knjige-column {
                h2 {
                    margin-left: 0;
                }
            }
        }
    }
}
