.woocommerce-breadcrumb {
    display: none;
}

.single-product-container {
    .pt-50();
    .pb-50();
    display: flex;
    .single-product-kategorije-menu {
        .kategorije-heading {
            font-size: 20px;
            color: #f3b015;
            margin-bottom: 35px;
        }
        ul {
            list-style: none;
            li {
                a {
                    font-size: 12px;
                    margin-bottom: 10px;
                    color: #4b4b4b;
                }
                h2 {
                    font-size: 14px;
                    color: #4b4b4b;
                    display: inline-block;
                    font-family: 'Montserrat' !important;
                }
                &:hover {
                    a {
                        color: #52c306;
                    }
                    h2 {
                        color: #52c306;
                    }
                }
            }
        }
    }
    .single-product-knjiga {
        .single-product-knjiga-top {
            margin-bottom: 50px;
            display: flex;
            .single-product-knjiga-top-image {
                padding-left: 20px;
                padding-right: 20px;
                width: calc(100% / 3);
                img {
                    height: auto;
                    max-width: none;
                    width: 180px;
                    max-width: 100%;
                }
                .quick_buy_container {
                    width: 100%;
                    margin-top: 30px;
                }
                .wc_quick_buy_button {
                    color: #fff;
                    font-size: 16px;
                    width: 100%;
                    background: linear-gradient(to bottom, #fade06, #f2ac04);
                    border-radius: 10px;
                    .pt-10();
                    .pb-10();
                    .pr-15();
                    .pl-15();
                    &::before {
                        content: "\e903";
                        font-family: 'icomoon';
                        margin-right: 15px;
                        font-size: 13px;
                    }
                }
            }
            .single-product-knjiga-top-description {
                padding-left: 20px;
                padding-right: 20px;
                width: calc(100% / 3 * 2);
                h1 {
                    font-size: 36px;
                    font-weight: normal;
                    color: #4b4b4b;
                }
                .naslovna-author-name {
                    a {
                        margin-top: 0;
                        color: #04d7da;
                        font-size: 18px;
                    }
                }
                .woocommerce-product-details__short-description {
                    font-size: 14px;
                    color: #4b4b4b;
                    margin-top: 30px;
                    p {
                        font-size: 14px;
                    }
                }
                .izdavac {
                    font-size: 14px;
                }
                .yith-wcwl-add-to-wishlist {
                    a {
                        display: block;
                        color: #e8311d;
                        font-size: 12px;
                        margin: 30px 0 0;
                        &::before {
                            font-family: 'icomoon';
                            content: "\e905";
                            background-color: #e8311d;
                            padding: 8px;
                            font-size: 15px;
                            border-radius: 10px;
                            color: #fff;
                            vertical-align: middle;
                            margin-right: 5px;
                        }
                    }
                }
                .yith-wcwl-wishlistaddedbrowse.show {
                    a {
                        display: inline-block;
                        color: #e8311d;
                        font-size: 12px;
                        margin: 30px 0 0;
                        &::before {
                            font-family: 'icomoon';
                            content: "\e906";
                            background-color: #e8311d;
                            padding: 8px;
                            font-size: 15px;
                            border-radius: 10px;
                            color: #fff;
                            vertical-align: middle;
                            margin-right: 5px;
                        }
                    }
                    span.feedback {
                        display: none;
                    }
                }
            }
        }
        .single-product-knjiga-bottom {
            padding-left: 20px;
            padding-right: 20px;
            line-height: 150%;
            h2 {
                font-size: 48px;
                color: #f2aa04;
                margin-bottom: 40px;
            }
            p {
                line-height: 150%;
            }
            ul {
              padding: inherit;
            }
        }
    }
    .single-product-price {
        h3 {
            margin-bottom: 25px;
            font-size: 18px;
            color: #4b4b4b;
        }
        .price {
            color: #f2aa04 !important;
            margin-bottom: 25px;
            span {
                font-size: 36px;
            }
            del {
                display: block !important;
                color: #a0a0a0;
                span {
                    font-size: 16px !important;
                }
            }
            .woocommerce-Price-amount.amount {
                font-weight: normal;
            }
        }
        .product_type_simple {
            border-radius: 10px;
            background: linear-gradient(to bottom, #87e80a, #55c506);
            font-size: 16px;
            color: #fff;
            .pt-10();
            .pb-10();
            .pl-15();
            font-weight: normal;
            .pr-15();
            margin-bottom: 25px;
            &::before {
                margin-right: 15px;
              content: "\e901";
              font-family: 'icomoon';
            }
        }
        .added_to_cart.wc-forward {
            display: none;
        }
        p {
            font-size: 14px;
            &.opis-isporuke {
                margin-bottom: 25px;
                a {
                    display: inline-block;
                    color: #04d7da;
                }
            }
        }
        .dodatne-informacije {
            margin-top: 25px;
            margin-bottom: 25px;
        }
        .dodatne-informacije-paragraph {
            margin-bottom: 15px;
        }
        .number {
            margin-bottom: 15px;
            &::before {
                content: "\e907";
                font-family: 'icomoon';
                color: #52c306;
                margin-right: 15px;
            }
        }
        .poruka {
            margin-bottom: 15px;
        }
        .email {
            &::before {
                content: "\e904";
                font-family: 'icomoon';
                color: #52c306;
                margin-right: 15px;
            }
            a {
                display: inline-block;
                color: #04d7da;
            }
        }
    }
}

#yith-wcwl-popup-message {
    border: 0;
    background: none;
    margin-left: 0 !important;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    line-height: 30px;
    #yith-wcwl-message {
        border-radius: 10px;
        background-color: #04d7da;
        font-size: 12px;
        color: #fff;
        border: 0;
        padding-top: 5px;
        padding-bottom: 5px;
        padding-left: 10px;
        font-weight: normal;
        padding-right: 10px;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        position: fixed;
    }
}



@media (max-width: 767px) {
    .single-product-container-mobile {
        padding-top: 50px;
        padding-bottom: 50px;
    }
    .single-product-knjiga-mobile {
        text-align: center;
        margin-bottom: 20px;
        h1 {
            font-size: 20px;
            margin-bottom: 30px;
        }
        .quick_buy_container {
            margin-top: 20px;
            margin-bottom: 20px;
            a {
                color: #fff;
                font-size: 16px;
                width: auto;
                background: linear-gradient(to bottom,#fade06,#f2ac04);
                border-radius: 10px;
                padding-top: 10px;
                padding-bottom: 10px;
                padding-right: 15px;
                padding-left: 15px;
                display: inline-block;
                &::before {
                    content: "\e903";
                    font-family: icomoon;
                    margin-right: 15px;
                    font-size: 13px;
                }
            }
        }
        .button.product_type_simple.add_to_cart_button.ajax_add_to_cart {
            border-radius: 10px;
            background: linear-gradient(to bottom,#87e80a,#55c506);
            font-size: 16px;
            color: #fff;
            padding-top: 10px;
            padding-bottom: 10px;
            padding-left: 15px;
            font-weight: 400;
            padding-right: 15px;
            &::before {
                margin-right: 15px;
                content: "\e901";
                font-family: icomoon;
            }
        }
    }
    .single-product-price-mobile {
        margin-bottom: 20px;
        text-align: center;
        .price {
            color: #f2aa04;
        }
        del {
            display: block !important;
            color: #a0a0a0;
            .woocommerce-Price-amount.amount {
                font-size: 16px;
                color: #a0a0a0;
                .woocommerce-Price-currencySymbol {
                    font-size: 16px;
                    color: #a0a0a0;
                }
            }
        }
        .woocommerce-Price-amount.amount {
            font-size: 24px;
            font-family: Merriweather;
            color: #f2aa04;
            .woocommerce-Price-currencySymbol {
                font-size: 24px;
                color: #f2aa04;
                font-family: Merriweather;
            }
        }
    }
    .single-product-wishlist-mobile {
        text-align: center;
        margin-bottom: 30px;
        a {
            display: block;
            color: #e8311d;
            font-size: 12px;
            margin-top: 30px;
            &::before {
                font-family: icomoon;
                content: "\e905";
                background-color: #e8311d;
                padding: 8px;
                font-size: 15px;
                border-radius: 10px;
                color: #fff;
                vertical-align: middle;
                margin-right: 5px;
            }
        }
    }
    .single-product-description-mobile {
        margin-bottom: 20px;
        font-size: 14px;
    }
    .single-product-info-mobile {
        margin-bottom: 20px;
        font-size: 14px;
        h3 {
            margin-bottom: 15px;
            &:nth-of-type(2) {
                margin-top: 15px;
            }
        }
        .opis-isporuke {
            margin-bottom: 25px;
        }
        .dodatne-informacije-paragraph {
            margin-bottom: 15px;
        }
        .number {
            margin-bottom: 15px;
            &::before {
                content: "\e907";
                font-family: icomoon;
                color: #52c306;
                margin-right: 15px;
            }
        }
        .poruka {
            margin-bottom: 15px;
        }
        .email {
            &::before {
                content: "\e904";
                font-family: icomoon;
                color: #52c306;
                margin-right: 15px
            }
            a {
                display: inline-block;
                color: #04d7da;
            }
        }
    }
    .single-product-cat-mobile {
        margin-bottom: 20px;
        h4 {
            font-size: 20px;
            color: #f3b015;
            margin-bottom: 15px;
            &::after {
                content: "\f107";
                font-family: FontAwesome;
                margin-left: 15px;
            }
        }
        ul {
            list-style: none;
            a {
                font-size: 12px;
                margin-bottom: 10px;
                color: #4b4b4b;
                h2 {
                    font-size: 14px;
                    color: #4b4b4b;
                    display: inline-block;
                    font-family: Montserrat !important;
                }
            }
        }
    }
    .single-product-full-description-mobile {
        h2 {
            font-size: 180%;
            margin-bottom: 15px;
            color: #f2aa04;
        }
        p {
            color: #4b4b4b;
            font-size: 85%;
        }
    }
}

@media (min-width: 768px) and (max-width: 1240px) {
    .single-product-container {
        .single-product-knjiga {
            .single-product-knjiga-top {
                .single-product-knjiga-top-image {
                    width: auto !important;
                }
            }
            .single-product-knjiga-bottom {
                h2 {
                    font-size: 180%;
                }
            }
        }
    }
}


@media (min-width: 768px) and (max-width: 1024px) {
    .container.single-product-container-mobile {
        padding-top: 50px;
        padding-bottom: 50px;
        display: flex;
        flex-wrap: wrap;
        .single-product-knjiga-mobile {
            width: 25%;
            order: 1;
            margin-bottom: 40px;
            h1 {
                font-size: 30px;
                margin-bottom: 30px;
            }
            .quick_buy_container {
                margin-top: 20px;
                margin-bottom: 20px;
                a {
                    color: #fff;
                    font-size: 16px;
                    width: auto;
                    background: linear-gradient(to bottom,#fade06,#f2ac04);
                    border-radius: 10px;
                    padding-top: 10px;
                    padding-bottom: 10px;
                    padding-right: 15px;
                    padding-left: 15px;
                    display: inline-block;
                    &::before {
                        content: "\e903";
                        font-family: icomoon;
                        margin-right: 15px;
                        font-size: 13px;
                    }
                }
            }
            .button.product_type_simple.add_to_cart_button.ajax_add_to_cart {
                border-radius: 10px;
                background: linear-gradient(to bottom,#87e80a,#55c506);
                font-size: 16px;
                color: #fff;
                padding-top: 10px;
                padding-bottom: 10px;
                padding-left: 15px;
                font-weight: 400;
                padding-right: 15px;
                &::before {
                    margin-right: 15px;
                    content: "\e901";
                    font-family: icomoon;
                }
            }
        }
        .more-details {
            order: 2;
            width: 50%;
            padding-top: 60px;
        }
        .single-product-price-mobile {
            margin-bottom: 40px;
            .price {
                color: #f2aa04;
            }
            del {
                display: block !important;
                color: #a0a0a0;
                .woocommerce-Price-amount.amount {
                    font-size: 25px;
                    color: #a0a0a0;
                    .woocommerce-Price-currencySymbol {
                        color: #a0a0a0;
                    }
                }
            }
            ins {
                font-weight: normal;
            }
            .woocommerce-Price-amount.amount {
                color: #f2aa04;
                font-size: 35px;
                font-family: Merriweather;
                .woocommerce-Price-currencySymbol {
                    color: #f2aa04;
                }
            }
        }
        .single-product-wishlist-mobile {
            margin-bottom: 40px;
            a {
                display: block;
                color: #e8311d;
                font-size: 16px;
                &::before {
                    font-family: icomoon;
                    content: "\e905";
                    background-color: #e8311d;
                    padding: 8px;
                    font-size: 18px;
                    border-radius: 10px;
                    color: #fff;
                    vertical-align: middle;
                    margin-right: 5px;
                }
            }

        }
        .single-product-description-mobile {
            margin-bottom: 40px;
            font-size: 18px;

        }
        .single-product-info-mobile {
            margin-bottom: 40px;
            font-size: 16px;
            order: 4;
            h3 {
                margin-bottom: 15px;
                &:nth-of-type(2) {
                    margin-top: 15px;
                }
            }
            .opis-isporuke {
                margin-bottom: 15px;
            }
            .dodatne-informacije-paragraph {
                margin-bottom: 15px;
            }
            .number {
                margin-bottom: 15px;
            }
            .poruka {
                margin-bottom: 15px;
            }
            .email {
                &::before {
                    content: "\e904";
                    font-family: icomoon;
                    color: #52c306;
                    margin-right: 15px;
                }
                a {
                    display: inline-block;
                    color: #04d7da;
                }
            }
        }
        .single-product-cat-mobile {
            width: 25%;
            margin-bottom: 40px;
            padding-top: 60px;
            order: 3;
            h4 {
                font-size: 20px;
                color: #f3b015;
                margin-bottom: 15px;
                &::after {
                    content: "\f107";
                    font-family: FontAwesome;
                    margin-left: 15px;
                }
            }
            ul {
                list-style: none;
                a {
                    font-size: 16px;
                    margin-bottom: 10px;
                    color: #4b4b4b;
                    h2 {
                        font-size: 14px;
                        color: #4b4b4b;
                        display: inline-block;
                        font-family: Montserrat !important;
                    }
                }
            }
        }
        .single-product-full-description-mobile {
            display: block;
            width: 100%;
            order: 5;
            h2 {
                font-size: 180%;
                margin-bottom: 15px;
                color: #f2aa04;
            }
            p {
                font-size: 100%;
            }
        }
    }
}
