.uslovi-container {
    .pt-50();
    .pb-90();
    h1 {
        font-size: 48px;
        color: #4b4b4b;
        margin-bottom: 50px;
    }
    img {
        height: auto;
    }
    h2 {
        font-size: 24px;
        color: #f2aa04;
        font-weight: normal;
        strong {
            font-weight: normal;
        }
    }
    p {
        color: #4b4b4b;
        font-size: 14px;
    }
    a {
        display: inline-block;
        color: #04d7da;
    }
    ul {
        list-style: none;
    }
    table {
        border-collapse: collapse;
        text-align: left;
        margin-bottom: 40px;
        tr {
            &:first-of-type {
                border-bottom: 1px solid #ccc;
            }
            &:last-of-type {
                border-bottom: 1px solid #ccc;
            }
        }
        th {
            .pb-15();
            font-weight: normal;
            padding-right: 100px;
            color: #4b4b4b;
        }
        td {
            color: #4b4b4b;
            .pb-10();
            .pt-10();
            padding-right: 100px;
        }
    }
}

@media (max-width: 767px) {
    .uslovi-container {
        h1 {
            font-size: 180%;
        }
    }
}
