.vec-ste-gledali {
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: #d3ced4;
    display: flex;
    li {
        list-style: none;
    }
    .vec-ste-gledali-container {
        h2 {
            align-items: center;
            margin-bottom: 30px;
            font-size: 48px;
            font-weight: normal;
            color: #4b4b4b;
        }
        // .owl-carousel {
        //     .owl-nav {
        //         //display: block !important;
        //         .owl-prev {
        //             background-image: url("assets/images/control-left.png");
        //             background-repeat: no-repeat;
        //             background-position: left 5px center;
        //             position: absolute;
        //             top: 150px;
        //             left: 0;
        //             color: transparent;
        //             font-size: 80px;
        //             margin: 0 !important;
        //             background-color: #fff;
        //             opacity: 0.5;
        //             transform: translateY(-50%);
        //             display: block;
        //             z-index: 9999;
        //             width: 50px;
        //             height: 100px;
        //             border-bottom-right-radius: 100px;
        //             border-top-right-radius: 100px;
        //             transition: all 0.2s ease 0s;
        //             &:hover {
        //                 background-color: #fff !important;
        //                 background-image: url("assets/images/control-left.png");
        //                 background-repeat: no-repeat;
        //                 background-position: left 5px center;
        //                 opacity: 1;
        //             }
        //         }
        //         .owl-next {
        //             position: absolute;
        //             background-image: url("assets/images/control-right.png");
        //             background-position: right 5px center;
        //             background-repeat: no-repeat;
        //             transform: translateY(-50%);
        //             top: 150px;
        //             right: 0;
        //             color: transparent;
        //             font-size: 80px;
        //             margin: 0 !important;
        //             background-color: #fff;
        //             opacity: 0.5;
        //             display: block;
        //             z-index: 9999;
        //             height: 100px;
        //             width: 50px;
        //             border-bottom-left-radius: 100px;
        //             border-top-left-radius: 100px;
        //             transition: all 0.2s ease 0s;
        //             &:hover {
        //                 background-color: #fff !important;
        //                 background-image: url("assets/images/control-right.png");
        //                 background-position: right 5px center;
        //                 background-repeat: no-repeat;
        //                 opacity: 1;
        //             }
        //         }
        //     }
        // }
        .owl-vec-ste-gledali {
            display: flex;
            .vec-ste-gledali-single-item {
                text-align: center;
                flex-wrap: wrap;
                position: relative;

                .button.product_type_simple.add_to_cart_button.ajax_add_to_cart {
                    content: "\e900";
                    font-family: 'icomoon' !important;
                    position: absolute;
                    right: 0;
                    bottom: 0;
                    font-size: 0;
                    height: 66px;
                    padding: 0;
                    width: 66px;
                    background-color: transparent;
                    border-top-left-radius: 0;
                    border-bottom-left-radius: 0;
                    border-bottom-right-radius: 0;
                    border-top-right-radius: 0;
                    border-top: 33px solid transparent;
                    border-bottom: 33px solid #04d7da;
                    border-left: 33px solid transparent;
                    border-right: 33px solid #04d7da;
                    color: #fff;
                    &::after {
                        content: "\e901";
                        font-family: 'icomoon' !important;
                        position: relative;
                        font-size: 20px;
                        top: 5px;
                        left: 5px;
                        font-weight: normal;
                    }
                }
                .vec-ste-gledali-wrapper {
                  display: table;
                  position: relative;
                  a {
                    display: table-cell;
                    vertical-align: bottom;
                  }
                  img {
                    display: table-cell;
                    vertical-align: bottom;
                  }
                }
                del {
                    display: block;
                }
                ins {
                    text-decoration: none;
                }
                span {
                    &.product-title{
                        font-size: 18px;
                        font-family: 'Merriweather';
                        color: #4b4b4b;
                        display: block;
                        margin-top: 10px;
                        margin-bottom: 10px;
                    }
                    &.woocommerce-Price-amount.amount {
                        font-size: 18px;
                        color: #4b4b4b;
                        color: #ee3523;
                    }
                }
                a {
                    img {
                        width: 200px !important;
                        height: auto;
                        margin: 0 auto;
                    }
                }
            }
        }
    }
}

@media (max-width: 767px) {
    .vec-ste-gledali {
        .vec-ste-gledali-container {
            h2 {
                text-align: center;
                font-size: 180%;
            }
            .owl-vec-ste-gledali {
                display: block;
                .vec-ste-gledali-single-item {
                    margin-bottom: 50px;
                    width: 100%;
                }
                .vec-ste-gledali-wrapper {
                    width: 200px;
                    max-width: 100%;
                    margin: 0 auto;
                }
                img {
                    display: block;
                }
            }
        }
    }
}
