.stranica-vesti-container {
    .pt-50();
    .pb-50();
    display: flex;
    .stranica-vesti-select {
        width: 75%;
    }
    .one-column {
        margin-bottom: 50px;
    }
    h1 {
        font-size: 48px;
        font-weight: normal;
    }
    .stranica-vesti-columns {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        .stranica-vesti-inner-columns {
            margin-bottom: 50px;
            .posts-info {
                margin-top: 15px;
                margin-bottom: 10px;
                font-size: 12px;
            }
            img {
                max-width: 100%;
            }
            h3 {
                margin-bottom: 20px;
                color: #f3b015;
                font-size: 18px;
                font-family: @heading-fontFamily;
            }
            p {
                margin-bottom: 20px;
                color: #4b4b4b;
                font-size: 14px;
            }
            a {
                font-size: 14px;
                color: #04d7da;
            }
        }
    }
    .footer-widget-area {
        width: 25%;
    }
    .top-knjige-column {
        padding-top: 100px;
        width: 100%;
        margin-left: 30px;
        #wpb_widget-2 {
            list-style: none;
        }
        h2 {
            font-size: 24px;
            font-weight: normal;
            padding-left: 0;
            margin-bottom: 20px;

        }
        .top-knjige-single {
            border-bottom: 1px solid #acacac;
            padding-bottom: 10px;
            padding-top: 10px;
            position: relative;
            h2 {
                margin-left: 0;
            }
            &:nth-of-type(1) {
                &::before {
                    content: '1.';
                    position: absolute;
                    top: 20%;
                    right: 105%;
                    color: #f3b015;
                    font-size: 30px;
                    font-family: 'Merriweather';
                }
            }
            &:nth-of-type(2) {
                &::before {
                    content: '2.';
                    position: absolute;
                    top: 20%;
                    right: 105%;
                    color: #f3b015;
                    font-size: 30px;
                    font-family: 'Merriweather';
                }
            }
            &:nth-of-type(3) {
                &::before {
                    content: '3.';
                    position: absolute;
                    top: 20%;
                    right: 105%;
                    color: #f3b015;
                    font-size: 30px;
                    font-family: 'Merriweather';
                }
            }
            &:nth-of-type(4) {
                &::before {
                    content: '4.';
                    position: absolute;
                    top: 20%;
                    right: 105%;
                    color: #f3b015;
                    font-size: 30px;
                    font-family: 'Merriweather';
                }
            }
            &:nth-of-type(5) {
                &::before {
                    content: '5.';
                    position: absolute;
                    top: 20%;
                    right: 105%;
                    color: #f3b015;
                    font-size: 30px;
                    font-family: 'Merriweather';
                }
            }
            &:nth-of-type(6) {
                &::before {
                    content: '6.';
                    position: absolute;
                    top: 20%;
                    right: 105%;
                    color: #f3b015;
                    font-size: 30px;
                    font-family: 'Merriweather';
                }
            }
            &:nth-of-type(7) {
                &::before {
                    content: '7.';
                    position: absolute;
                    top: 20%;
                    right: 105%;
                    color: #f3b015;
                    font-size: 30px;
                    font-family: 'Merriweather';
                }
            }
            &:nth-of-type(8) {
                &::before {
                    content: '8.';
                    position: absolute;
                    top: 20%;
                    right: 105%;
                    color: #f3b015;
                    font-size: 30px;
                    font-family: 'Merriweather';
                }
            }
            &:nth-of-type(9) {
                &::before {
                    content: '9.';
                    position: absolute;
                    top: 20%;
                    right: 105%;
                    color: #f3b015;
                    font-size: 30px;
                    font-family: 'Merriweather';
                }
            }
            &:nth-of-type(10) {
                &::before {
                    content: '10.';
                    position: absolute;
                    top: 20%;
                    right: 105%;
                    color: #f3b015;
                    font-size: 30px;
                    font-family: 'Merriweather';
                }
            }
            .woocommerce-LoopProduct-link.woocommerce-loop-product__link {
                display: flex;
            }
            img {
                width: 40px;
                height: 65px;
            }
            .top-knjige-autor {
                font-size: 12px;
                color: #4b4b4b;
            }
            h2 {
                font-size: 18px;
                color: #f3b015;
                padding-left: 0;
            }
            .top-knjige-single-inner {
                margin-left: 20px;
            }
        }
    }
}

@media (max-width: 767px) {
    .stranica-vesti-container {
        display: block;
        .stranica-vesti-select {
            width: 100%;
        }
        .footer-widget-area {
            width: 100%;
        }
        .one-column {
            h1 {
                font-size: 180%;
            }
        }
        .stranica-vesti-columns {
            display: block;
            .stranica-vesti-inner-columns {
                width: 100%;
                margin-bottom: 30px;
                .posts-info {
                    margin-top: 10px;
                }
                img {
                    max-width: 100%;
                    height: auto;
                }
                h3 {
                    margin-bottom: 10px;
                }
                p {
                    margin-bottom: 10px;
                }
            }
        }
        .top-knjige-column {
            padding-top: 30px;
            margin-left: 0;
            h2 {
                margin-left: 0;
            }
            .top-knjige-single {
                padding-left: 10px;
                &:nth-of-type(1) {
                    &::before {
                        content: '1.';
                        position: absolute;
                        top: 20%;
                        left: -15px;
                        color: #f3b015;
                        font-size: 20px !important;
                        font-family: 'Merriweather';
                    }
                }
                &:nth-of-type(2) {
                    &::before {
                        content: '2.';
                        position: absolute;
                        top: 20%;
                        left: -15px;
                        color: #f3b015;
                        font-size: 20px !important;
                        font-family: 'Merriweather';
                    }
                }
                &:nth-of-type(3) {
                    &::before {
                        content: '3.';
                        position: absolute;
                        top: 20%;
                        left: -15px;
                        color: #f3b015;
                        font-size: 20px !important;
                        font-family: 'Merriweather';
                    }
                }
                &:nth-of-type(4) {
                    &::before {
                        content: '4.';
                        position: absolute;
                        top: 20%;
                        left: -15px;
                        color: #f3b015;
                        font-size: 20px !important;
                        font-family: 'Merriweather';
                    }
                }
                &:nth-of-type(5) {
                    &::before {
                        content: '5.';
                        position: absolute;
                        top: 20%;
                        left: -15px;
                        color: #f3b015;
                        font-size: 20px !important;
                        font-family: 'Merriweather';
                    }
                }
                &:nth-of-type(6) {
                    &::before {
                        content: '6.';
                        position: absolute;
                        top: 20%;
                        left: -15px;
                        color: #f3b015;
                        font-size: 20px !important;
                        font-family: 'Merriweather';
                    }
                }
                &:nth-of-type(7) {
                    &::before {
                        content: '7.';
                        position: absolute;
                        top: 20%;
                        left: -15px;
                        color: #f3b015;
                        font-size: 20px !important;
                        font-family: 'Merriweather';
                    }
                }
                &:nth-of-type(8) {
                    &::before {
                        content: '8.';
                        position: absolute;
                        top: 20%;
                        left: -15px;
                        color: #f3b015;
                        font-size: 20px !important;
                        font-family: 'Merriweather';
                    }
                }
                &:nth-of-type(9) {
                    &::before {
                        content: '9.';
                        position: absolute;
                        top: 20%;
                        left: -15px;
                        color: #f3b015;
                        font-size: 20px !important;
                        font-family: 'Merriweather';
                    }
                }
                &:nth-of-type(10) {
                    &::before {
                        content: '10.';
                        position: absolute;
                        top: 20%;
                        left: -15px;
                        color: #f3b015;
                        font-size: 20px !important;
                        font-family: 'Merriweather';
                    }
                }
            }
        }
    }
}

@media (min-width: 768px) and (max-width: 1240px) {
    .stranica-vesti-container {
        .top-knjige-column {
            margin-left: 10px;
            h2 {
                margin-left: 0;
            }
        }
        .stranica-vesti-columns {
            .stranica-vesti-inner-columns {
                img {
                    max-width: 100%;
                }
            }
        }
    }
}
