.wishlist-container {
    .pt-50();
    .pb-50();
    .wishlist-empty {
        color: #4b4b4b;
    }
    .wishlist-naslov {
        margin-bottom: 50px;
        h1 {
            font-size: 48px;
            color: #4b4b4b;
        }
    }
    .wishlist-content {
        display: flex;
        .wishlist-content-inner {
            width: calc(100% / 6 * 5);
            .pr-20();
            .pl-20();
        }
        .wishlist-content-inner-naslov {
            margin-bottom: 30px;
            h2 {
                font-size: 24px;
                font-weight: normal;
                color: #f2aa04;
                padding: 0;
            }
        }
        table {
            font-size: 100%;
            border: none;
            display: block;
            tbody {
                display: flex;
                flex-wrap: wrap;
                .wishlist-content-inner-image {
                    position: relative;
                        &:hover {
                            a.remove.remove_from_wishlist {
                                opacity: 1;
                            }
                        }
                    .wishlist-cart {
                        a.add_to_cart_button {
                            position: absolute;
                            right: 0;
                            bottom: 0;
                            font-size: 0;
                            height: 66px;
                            padding: 0;
                            width: 66px;
                            background-color: transparent;
                            border-top-left-radius: 0;
                            border-bottom-left-radius: 0;
                            border-bottom-right-radius: 0;
                            border-top-right-radius: 0;
                            border-top: 33px solid transparent;
                            border-bottom: 33px solid #04d7da;
                            border-left: 33px solid transparent;
                            border-right: 33px solid #04d7da;
                            &::after {
                                content: "\e901";
                                font-weight: normal;
                                font-family: 'icomoon' !important;
                                position: relative;
                                font-size: 20px;
                                top: 5px;
                                left: 5px;
                            }
                            &:hover {
                                background-color: transparent;
                            }
                        }
                    }
                    a.remove.remove_from_wishlist {
                        font-size: 0;
                        opacity: 0;
                        border-top-left-radius: 0;
                        border-bottom-left-radius: 0;
                        border-top-right-radius: 0;
                        border-bottom-right-radius: 0;
                        width: 44px;
                        height: 44px;
                        border-top: 22px solid #ed1c24;
                        border-bottom: 22px solid transparent;
                        border-left: 22px solid #ed1c24;
                        border-right: 22px solid transparent;
                        position: absolute;
                        top: 0;
                        left: 0;
                        z-index: 9999;
                        transition: all 250ms ease 0s;
                        &::after {
                            content: "\e90e";
                            font-family: 'icomoon' !important;
                            position: relative;
                            top: -15px;
                            left: -15px;
                            font-size: 10px !important;
                            color: #fff;
                        }
                        &:hover {
                            background-color: transparent;
                        }
                    }
                }
                .wish-list-item-price {
                    del {
                        display: block;
                        color: #a0a0a0;
                    }
                    ins {
                        text-decoration: none;
                    }
                }
                tr {
                    width: 20%;
                    display: block;
                    float: left;
                }
                td {
                    border: none;
                    position: relative;
                    img {
                        position: relative;
                        width: 100%;
                        max-width: none;
                        height: auto;
                        &:hover {
                            a.remove.remove_from_wishlist {
                                display: block;
                            }
                        }
                    }
                    .wish-list-item-link {
                        color: #4b4b4b;
                        margin-top: 15px;
                        font-size: 18px;
                    }
                    .wish-list-item-price {
                        color: #f2aa04;
                        margin-top: 15px;
                        font-weight: bold;
                        font-size: 14px;
                    }
                }
            }
        }
    }
}


@media (max-width: 767px) {
    .wishlist-container {
        .wishlist-naslov {
            h1 {
                font-size: 180%;
                &::after {
                    content: "\f107";
                    font-family: FontAwesome;
                    margin-left: 20px;
                }
            }
        }
        .wishlist-content {
            display: block;
            table {
                .wishlist-content-inner-image {

                    a.remove.remove_from_wishlist {
                        opacity: 1 !important;
                    }
                }
            }
            .woocommerce-MyAccount-navigation {
                width: 100%;
                height: auto;
                margin-bottom: 50px;
                padding-left: 0;
            }
            .wishlist-content-inner {
                padding-left: 0;
                padding-right: 0;
                tbody {
                    display: block;
                    tr {
                        width: 100%;
                        float: none;
                    }
                }
                td {
                    padding: 0;
                    padding-bottom: 40px !important;
                    .wish-list-item-link,
                    .wish-list-item-price,
                    .naslovna-author-name {
                        margin-top: 5px;
                    }
                }
            }
        }
    }
}

@media (min-width: 768px) and (max-width: 1240px) {
    .wishlist-container {
        .wishlist-content {
            display: block;
            .woocommerce-MyAccount-navigation {
                width: 100% !important;
                height: auto;
                margin-bottom: 50px;
                li {
                    display: inline-block;
                    a {
                        .pr-10();
                        .pl-10();
                    }
                }
            }
            .wishlist-content-inner {
                width: 100%;
                tbody {
                    display: flex;
                    tr {
                        width: 50%;
                        float: none;
                    }
                }
                td {
                    .wish-list-item-link,
                    .wish-list-item-price,
                    .naslovna-author-name {
                        margin-top: 5px;
                    }
                }
            }
        }
    }
}

.register .woocommerce-privacy-policy-text p {
 display: none;
}

.yith-wcwl-wishlistexistsbrowse {
   font-size: 12px;
   color: #4b4b4b;
}

.single-product-knjiga-bottom {
   color: #4b4b4b;
}
